@use "sass:meta";

@mixin define(){

    $size:var(--v2-wd-size);
    $bg:var(--wd-high);
    $color:var(--v2-wd-color);
    
    $border:var(--wd-border);
    $outline:var(--wd-outline);
    $margin:var(--wd-margin);
    $font-size:var(--wd-font-size);
    $margin:var(--wd-margin);
    $radius:var(--wd-radius);

    input[type=button]{
        min-height: $size;
        height:$size;
        cursor: pointer;

        background-color: $bg;
        color: $color;
        
        border:1px solid $border;

        box-sizing: border-box;
        min-width:$size;
        border-radius: $radius;
        //box-shadow:  1px 1px 1px 0px rgb(0 0 0 / 15%);
        font-size: $font-size;
        
        @if($margin!='none'){
            margin-right:$margin;
        };
        
        outline: 2px solid rgba(0,0,0,0);
        @include transition(outline-color 0.2s);
        &:focus { 
            outline: 2px solid $outline;
        }
        &:hover{
            filter: brightness(var(--v2-wd-hovering));
        }

        &.wd-flat{
            background: rgba(0,0,0,0) !important;
            &:hover{
                background-color: $bg !important;
                filter: brightness(var(--v2-wd-hovering));
            }
    
        }
    }


}

@include define();




