@use "sass:meta";
//@import './vars.scss';

@mixin define(){
    //$themes:$wd-themes;
    //$icons:$wd-cross;

    //@each $theme in $themes{
    //    #{getThemingRootClass($theme)} {
    //        --chk-url:url(#{map-get($icons,$theme)});
    //    }   
    //}
    
    $size:var(--v2-wd-size);
    $bg:var(--v2-wd-bg);
    $border:var(--v2-wd-border);
    $outline:var(--v2-wd-outline);
    $icon-hover:var(--v2-wd-cross-hover);
    $icon:var(--v2-wd-cross);

    //input[type=checkbox] {
    .wd-checkbox{
        -webkit-appearance: none;
        -moz-appearance: none;
        
        background-color: $bg;
        border: 1px solid $border;

        width: calc($size*0.7);
        max-width: calc($size*0.7);
        height: calc($size*0.7);
        max-height: calc($size*0.7);
        margin:0px;

        cursor: pointer;        

        &:checked{
            background-size: calc($size*0.5);
            background-position: center center;
            background-repeat: no-repeat;
            background-image:$icon;

        }
        &:not(:checked){
            &:hover{
                background-image:$icon-hover;
                background-size: calc($size*0.5);
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        &:focus{
            outline:2px solid $outline;
        }
    }

}

@include define();