@use "sass:meta";
//@import './vars.scss';

@mixin define(){
    $themes:$wd-themes;
    $icons:$wd-cross;

    @each $theme in $themes{
        #{getThemingRootClass($theme)} {
            --chk-url:url(#{map-get($icons,$theme)});
        }   
    }
    
    $size:$wd-size;
    $bg:var(--wd-bg);
    $border:var(--wd-border);
    $outline:var(--wd-outline);
    $icon-hover:$cross-opacity;

    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        
        background-color: $bg;
        border: 1px solid $border;

        width: $size*0.7;
        max-width: $size*0.7;
        height: $size*0.7;
        max-height: $size*0.7;
        margin:0px;

        cursor: pointer;        

        &:checked{
            //background-image:url($icon);
            background-size: $size*0.5;
            background-position: center center;
            background-repeat: no-repeat;
            background-image:var(--chk-url);

        }
        &:not(:checked){
            &:hover{
                background-image:url($icon-hover);
                background-size: $size*0.5;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        &:focus{
            outline:2px solid $outline;
        }
}

    //@each $theme in $themes{
    //    :root.#{$theme} input[type=checkbox]{
    //        &:checked{
    //            background-image:url(#{map-get($icons,$theme)});
    //        }
//
//        }
//    } 
}

@include define();