@use "sass:meta";
@use "sass:math";
//@import './vars.scss';

@mixin define(){
    $themes:$wd-themes;
    $colors:$wd-color;
    //$inverts:('light':60%,'dark':30%);
    @each $theme in $themes{
        #{getThemingRootClass($theme)} {
            
           --cb-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$level:-20%))};
           --cb-color-hover:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$level:-50%))};
           --cb-placeholder:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$light:20%,$dark:-40%))};
           //--cb-invert:#{meta.inspect(map-get($map:$inverts,$key:$theme))};
           //@debug $inverts  map-get($map:$inverts,$key:$theme);
        }
    }
    
    $size:$wd-size;
    $gap:$wd-gap;
    $bg:var(--wd-deep);
    $color:var(--cb-color);
    $invert:50%;//var(--cb-invert);
    $tick:var(--v2-wd-tick);
    $border:var(--wd-border);
    $required:rgba(var(--wd-alert-rgb), 0.1);

    $outline:var(--wd-outline);    
    $font-size:var(--wd-font-size);
    
    $hover:var(--wd-hover);
    $color-hover:var(--cb-color-hover);
    $margin:var(--wd-margin);
    $radius:var(--wd-radius);
    $placeholder:var(--cb-placeholder);

    [type=combo]{
        height:$size;
        width:100%;
        background-color: $bg;
        color:$color;

        border:1px solid $border;
        border-radius: $radius;

        box-sizing: border-box;
        min-width:$size;
       
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        
        @if($margin!='none'){
            margin-right:$margin;
        };

        @include display-flex-horiz-stretch();

        outline: 0px solid rgba(0,0,0,0);
        @include transition(outline-color 0.4s);

        >*{
            &:nth-child(1) {
                @include stretch();
                line-height:$size * 0.9;
            }
            &:nth-child(2) {
                min-width: $size;
                width: $size;
                background-image: url($tick); 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                filter:invert($invert);
            }
        }
        &[open]{
            >*{
                &:nth-child(2) {
                    transform: rotate(180deg);
                }
            }
        }
        &:focus { 
            outline: 2px solid $outline;
        }
        &[disabled]{
            opacity: 0.4;
        }
        &[required]{
            border:1px solid $required !important;
            background-color:$required !important;

        }        
    
    }
    [type=combo-list]{
        background-color: $bg;
        color:$color;
        border:1px solid $border;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;  

        [type=combo-item]{
            max-height: $size;
            height: $size;

            &:hover{
                background-color: $hover;
                color:$color-hover;
            }
            &[disabled]{
                opacity: 0.3;
                &:hover{
                    background-color: $bg;
                    color:$color;
                }                
            }
        }
    }
    .mobile [type=combo-list]{
        animation: 0.5s combo-scale ease;
        padding: $gap;
        [type=combo-item]{
            //border-bottom: 1px solid $border;
            border-radius: 3px;
            &:nth-child(2n+1){
                background-color: $hover;

            }        
        }
    }
    
    [type=combo-item]{
        text-indent: $gap;
        line-height: $size;
        white-space: nowrap;
        overflow: hidden;

        &[state="no-select"]{
            color: $placeholder;
        }
        // for ComboItemIcon -------
        @include display-flex-horiz-stretch();
        >div{
            &:nth-child(1) {
                @include no-stretch();
            }                
            &:nth-child(2) {
                @include stretch();
            }                
        }
        // ----------------------------
    };

    .mobile .wd-combo-shadow{
        background-color: black;
        opacity: 0.8;
    }

}

.wd-clamp{
    @include transition(width 0.1s,min-width 0.1s,margin-left 0.1s,margin-right 0.1s);
    
    &:hover { 
        width:200px !important;
        min-width: 200px;
        margin-left: -50px;
    }
    &:focus { 
        width:200px !important;
        min-width: 200px;
        margin-left: -50px;
    }

}

@keyframes combo-scale {
    from { transform: scale(1,0.9) }
    to {  transform: scale(1,1)}
}




@include define();
