@use "sass:meta";
@use "sass:math";
@import './utils/transition.scss';

@mixin define(){
    //$themes:$wd-themes;
    //$colors:$wd-color;
    //$inverts:('light':60%,'dark':30%);
    //@each $theme in $themes{
        //#{getThemingRootClass($theme)} {
            
        //   --cb-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$level:-20%))};
        //   --cb-color-hover:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$level:-50%))};
        //   --cb-placeholder:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$light:20%,$dark:-40%))};
           //--cb-invert:#{meta.inspect(map-get($map:$inverts,$key:$theme))};
           //@debug $inverts  map-get($map:$inverts,$key:$theme);
        //}
    //}
    
    $size:var(--v2-wd-size);
    $gap:var(--v2-wd-gap);
    $bg:var(--v2-wd-deep);
    $color:var(--v2-wd-color);
    $invert:50%;//var(--cb-invert);
    $tick:var(--v2-wd-tick);
    $border:var(--v2-wd-border);
    $required:rgba(var(--v2-wd-danger-rgb), 0.1);

    $outline:var(--v2-wd-outline);    
    $outline-width:var(--v2-wd-outline-width);    
    $font-size:var(--v2-wd-font-size);
    
    $hover:var(--v2-wd-hover);
    $color-hover:var(--v2-hover-color);
    $margin:var(--v2-wd-margin);
    $radius:var(--v2-wd-radius);
    $placeholder:rgba(var(--v2-wd-color-rgb), 0.5);

    .wd-combo{
        height:$size;
        width:100%;
        background-color: $bg;
        color:$color;

        border:1px solid $border;
        border-radius: $radius;

        box-sizing: border-box;
        min-width:$size;
       
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        
        //margin:$outline-width;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;


        outline: 0px solid rgba(0,0,0,0);
        @include transition(outline-color 0.4s);

        >*{
            &:nth-child(1) {
                flex:1 1 auto;
                line-height:calc($size * 0.9);
            }
            &:nth-child(2) {
                min-width: $size;
                width: $size;
                background-image: $tick; 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                filter:invert($invert);
            }
        }
        &[open]{
            >*{
                &:nth-child(2) {
                    transform: rotate(180deg);
                }
            }
        }
        &:focus { 
            outline: $outline-width solid $outline;
        }
        &[disabled]{
            opacity: 0.4;
        }
        &[required]{
            //border:1px solid $required !important;
            background-color:$required !important;

        }        
    
    }
    [combo-list]{
        background-color: $bg;
        color:$color;
        border:1px solid $border;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;  

        animation: 0.1s cbex-list-slide ease;
        [combo-item]{
            max-height: $size;
            height: $size;

            &:hover:not([disabled]):not([active]){
                background-color: $hover;
                color:$color-hover;
            }
            &[disabled]{
                color:rgba(var(--v2-wd-color-rgb),0.4);
            }
            &[active]{
                color:var(--v2-wd-select-color);
                background-color:var(--v2-wd-select);
            }
        }
    }
    .mobile [combo-list]{
        animation: 0.5s combo-scale ease;
        padding: $gap;
        [combo-item]{
            border-bottom: 1px solid $border;
            border-radius: 3px;
            
        }
    }
    
    [combo-item]{
        text-indent: $gap;
        line-height: $size;
        white-space: nowrap;
        overflow: hidden;

        &[state="no-select"]{
            color: $placeholder;
        }
        // for ComboItemIcon -------
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        
        >div{
            &:nth-child(1) {
                flex:0 1 auto;
            }                
            &:nth-child(2) {
                flex:1 1 auto;
            }                
        }
        // ----------------------------
    };

    .mobile .wd-combo-shadow{
        background-color: black;
        opacity: 0.8;
    }

}

.wd-clamp{
    @include transition(width 0.1s,min-width 0.1s,margin-left 0.1s,margin-right 0.1s);
    
    &:hover { 
        width:200px !important;
        min-width: 200px;
        margin-left: -50px;
    }
    &:focus { 
        width:200px !important;
        min-width: 200px;
        margin-left: -50px;
    }

}

@keyframes combo-scale {
    from { transform: scale(1,0.9) }
    to {  transform: scale(1,1)}
}


@keyframes cbex-list-slide {
    from { transform:  scaleY(70%) translateY(-20%)}
    to {  transform:  scaleY(100%) translateY(0%)}
}


@include define();
