$wd-themes:('light','dark') !default;
$wd-sizes:('normal','small') !default;

$wd-background:('light':#DEE2E6,'dark':#454D55) !default;
$wd-field:('light':#DEE2E6,'dark':#6c6e70) !default;
$wd-color:('light':#000000,'dark':#fcfcfc) !default;
$wd-border:('light':#3d3d3d,'dark':#696969) !default;

$wd-size:('small':24px,'normal':32px) !default;
$wd-scale:('small':0.5,'normal':1) !default;
$wd-fat:('small':2px,'normal':5px) !default;
