$wd-themes:('light','dark') !default;
$wd-sizes:('normal','small') !default;


$wd-font-size:('small':9px,'normal':12px) !default;


$wd-bg:('light':#F7F7F7,'dark':#1F201C) !default;
$wd-color:('light':#696969,'dark':#646464) !default;
$wd-border:('light':#DCDCDC,'dark':#3D3E38) !default;
$wd-border-focus:('light':#92BCD8,'dark':#3476BC) !default;

$wd-ctrl-bg:('light':#FDFDFD,'dark':#343530) !default;
$wd-ctrl-bg-hover:$wd-ctrl-bg !default;
$wd-ctrl-color:('light':#000000,'dark':#cfcfcf) !default;
$wd-ctrl-color-readonly:('light':#000000,'dark':#cfcfcf) !default;
$wd-ctrl-color-disable:('light':#797979,'dark':#cfcfcf) !default;
$wd-ctrl-color-hover:('light':#000000,'dark':#646464) !default;
$wd-ctrl-border:$wd-border !default;
$wd-ctrl-border-focus:$wd-border-focus !default;
$wd-ctrl-border-hover:$wd-border !default;


$wd-edit-bg:$wd-ctrl-bg !default;
$wd-edit-bg-hover:$wd-ctrl-bg-hover !default;
$wd-edit-color:$wd-ctrl-color !default;
$wd-edit-color-readonly:$wd-ctrl-color-readonly !default;
$wd-edit-color-disable:$wd-ctrl-color-disable !default;
$wd-edit-border:$wd-ctrl-border !default;
$wd-edit-border-focus:$wd-ctrl-border-focus !default;

$wd-btn-bg:('light':#E2E2E2,'dark':#343530) !default;
$wd-btn-color:$wd-ctrl-color !default;
$wd-btn-border:$wd-ctrl-border !default;
$wd-btn-border-focus:$wd-ctrl-border-focus !default;


$wd-cb-bg:$wd-ctrl-bg !default;
$wd-cb-bg-hover:$wd-ctrl-bg-hover !default;
$wd-cb-color:$wd-ctrl-color !default;
$wd-cb-border:$wd-ctrl-border !default;
$wd-cb-border-focus:$wd-ctrl-border-focus !default;


$wd-size:('small':20px,'normal':32px) !default;
$wd-scale:('small':0.5,'normal':1) !default;
$wd-gap:('small':2px,'normal':5px) !default;





$wd-tab-bg:$wd-ctrl-bg !default;
$wd-tab-bg2:('light':#ECECEC,'dark':#292929) !default;
$wd-tab-color:$wd-ctrl-color !default;
$wd-tab-border:('light':#DCDCDC,'dark':#3D3E38) !default;

$wd-tab-hover-bg:('light':#DCDCDC,'dark':#2e2e2e) !default;
$wd-tab-hover-color:('light':#000000,'dark':#ffffff) !default;


$wd-tab-head-bg:('light':#E2E2E2,'dark':#1A1B19) !default;
$wd-tab-head-color:('light':#020202,'dark':#8f8f8f) !default;
$wd-tab-head-border:$wd-tab-border !default;
$wd-tab-head-border-vert:('light':#bdbdbd,'dark':#00000000) !default;
$wd-tab-head-border-vert-fat:('light':0px,'dark':0px) !default;

$wd-tab-row-height:$wd-size !default;
$wd-tab-row-border-bottom:('light':#FDFDFD,'dark':#3a3a3a48) !default;
$wd-tab-row-border-vert:('light':#DCDCDC,'dark':#3a3a3a) !default;

$wd-tab-row-active-bg:('light':#1E90FF,'dark':#1e8fff5d) !default;
$wd-tab-row-active-color:('light':#ffffff,'dark':#ffffff) !default;

// to use: @include transparent-border();
@mixin transparent-border{
    border:1px solid rgba(0,0,0,0); 
}

@mixin flex-row-strech-stretch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;    
}

@mixin stretch{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;    
}

@mixin no-stretch{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;    
}
