$wd-themes:('light','dark') !default;
$wd-sizes:('normal','small') !default;

$wd-bg:('light':#ffffff,'dark':#242424) !default;
$wd-color:('light':#000000,'dark':#646464) !default;
$wd-border:('light':#353535,'dark':#353535) !default;
$wd-border-focus:('light':#353535,'dark':#353535) !default;


$wd-edit-bg:('light':#cfcfcf,'dark':#808080) !default;
$wd-edit-color:('light':#000000,'dark':#000000) !default;
$wd-edit-border:('light':#353535,'dark':#3476BC) !default;

$wd-btn-bg:('light':#cfcfcf,'dark':#808080) !default;
$wd-btn-color:('light':#000000,'dark':#000000) !default;
$wd-btn-border:$wd-border !default;
$wd-btn-border-focus:('light':#353535,'dark':#3476BC) !default;



$wd-size:('small':24px,'normal':32px) !default;
$wd-scale:('small':0.5,'normal':1) !default;
$wd-gap:('small':2px,'normal':5px) !default;
