@use "sass:meta";
@import './utils/transition.scss';


@mixin define(){

    $size:var(--v2-wd-size);
    $font-size:var(--v2-wd-font-size);
    $bg:var(--v2-wd-deep);
    $color:var(--v2-wd-color);
    $outline:var(--v2-wd-outline);
    $outline-width:var(--v2-wd-outline-width);
    $border:var(--v2-wd-border);
    $gap:var(--v2-wd-gap);
    $required:rgba(var(--v2-wd-danger-rgb), 0.1);
    $margin:var(--v2-wd-margin);
    $radius:var(--v2-wd-radius);
    $placeholder:rgba(var(--v2-wd-color-rgb), 0.5);

    input[type=number]{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: inner-spin-button !important;
            min-width: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
    /*
    textarea,
    input[type=number],
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url]
    */
    .wd-text{
        padding: var(--v2-wd-gap);
    }
    .wd-edit{
        text-indent:$gap;
    }
    .wd-text,
    .wd-edit{
        min-height:$size;
            
        font-size:$font-size;
        border:1px solid $border;
        border-radius: $radius;
        width:100%;
        background-color: $bg;
        
        //margin:$outline-width;

        //@if($margin!='none'){
        //    margin-right:$margin;
        //};
        color:$color;

        outline: 0px solid rgba(0,0,0,0);
        @include transition(margin 0.2s,outline-color 0.4s);
        &:focus { 
            outline: $outline-width solid $outline;
        }

        &[readonly]{
        }        
        &[disabled]{
            opacity: 0.5;
        }
        &[required]{
            //background-image: url($required-url);
            //background-repeat: no-repeat;
            //background-position-x: right;
            //background-position-y: center;
            //border:1px solid $required !important;
            //background-size: $size*0.5;
            background-color:$required;
            //border:1px solid $required !important;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $placeholder;
        }
        &[error]{
            border-color:var(--v2-wd-danger);
            &:focus { 
                //outline: 2px solid var(--v2-wd-danger);
            }
        }
    }
    .error-edit-msg{
        overflow: hidden;
        font-size: 0.8rem;
        padding-left: var(--v2-wd-gap);
        color:var(--v2-wd-danger);
    }
}


@include define();