@use "sass:meta";
@import './vars.scss';


@mixin define(){

    $themes:$wd-themes;
    $colors:$wd-color;
    
    @each $theme in $themes{
        :root.#{$theme}{
           --ed-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme ,$level:-20%))};
           --ed-placeholder:#{meta.inspect(blendColors($colors:$colors,$theme:$theme ,$level:40%))};
        };
    };

    $size:var(--wd-size);
    $font-size:var(wd-font-size);
    $bg:var(--wd-deep);
    $color:var(--ed-color);
    $outline:var(--wd-outline);
    $border:var(--wd-border);
    $gap:var(--wd-gap);
    $required:rgba(var(--wd-alert-rgb), 0.1);
    $margin:var(--wd-margin);
    $radius:var(--wd-radius);
    $placeholder:var(--ed-placeholder);

    input[type=number]{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: inner-spin-button !important;
            min-width: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }

    .wd-edit{
        height:$size;
            
        font-size:$font-size;
        border:1px solid $border;
        border-radius: $radius;
        width:100%;
        background-color: $bg;
        text-indent:$gap;

        @if($margin!='none'){
            margin-right:$margin;
        };
        color:$color;

        outline: 0px solid rgba(0,0,0,0);
        @include transition(margin 0.2s,outline-color 0.4s);
        &:focus { 
            outline: 2px solid $outline;
        }

        &[readonly]{
        }        
        &[disabled]{
            opacity: 0.5;
        }
        &[required]{
            //background-image: url($required-url);
            //background-repeat: no-repeat;
            //background-position-x: right;
            //background-position-y: center;
            //border:1px solid $required !important;
            //background-size: $size*0.5;
            background-color:$required !important;
            border:1px solid $required !important;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $placeholder;
        }
    }   
}

@include define();