
[gap]{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    >div[gap]{
            width:var(--v2-wd-size);
            min-width:var(--v2-wd-size);
    }
}