@use 'sass:meta';
@use "sass:color";
@use "sass:map";

$global-themes-vars:();



@mixin genCssVar($maps:(),$theme:'light'){
    $themeVars:();

    $defaults:(
        'primary':#0D6EFD,
        'secondary':#6C757D,
        'success':#008b14,
        'danger':#C32F3D,
        'warning':#FF8A00,
        'info':#2C7BE5,
        'light':#EDF2F9,
        'dark':#0B1727,

        'red':#ff0000,
        'green':#008b14,
        'blue':#0D6EFD,
        'orange':#FF8A00,

        'primary-color':#e8edf3,
        'danger-color':#e8edf3,
        'warning-color':#e8edf3,
        'secondary-color':#e8edf3,
        'success-color':#e8edf3,
        'info-color':#e8edf3,
        'light-color':#0B1727,
        'dark-color':#e8edf3,


        'primary-flat-color':#2b92d7,
        'danger-flat-color':#C32F3D,
        'secondary-flat-color':#6C757D,
        'success-flat-color':#008b14,
        'warning-flat-color':#FF8A00,
        'info-flat-color':#2C7BE5,
        'light-flat-color':#83909F,
        'dark-flat-color':#0B1727,

        'bg':#EDF2F9,
        'color':#83909F,
        
        'size':32px,
        'gap':5px,
        'margin':2px,
        'padding':2px,
        'radius':0.25rem,
        'font-size':14px ,
        'font-family':meta.inspect(font-family('verdana')),
    
        'hovering':0.95,
        
        'highlight':#2C7BE5,
        'high':#fdfdfd,   
        'label':#5E6E82,
        'border':#D8E2EF,
        'outline':#CADEF8,
        'hover':#e9ecf1,
        'select':#2C7BE5,
        'header':#EDF2F9,
        'deep':#FFFFFF,
        'transparent':rgba(0,0,0,0),
        'block':#FFFFFF,
        'alert':#ff0000,
        'url':#2C7BE5,
        );

    @each $varName,$defaultValue in $defaults{
        $value:if(map-has-key($map: $maps, $key: $varName),#{map-get($map: $maps, $key:$varName )},#{$defaultValue});
        --v2-wd-#{$varName}:#{$value};
        $themeVars:map-merge($themeVars,(#{$varName}:$value));    
    };

    $global-themes-vars:map-merge($global-themes-vars,(#{$theme}:$themeVars)) !global;
}

@function get-var($name,$theme:'light',$default:''){
    @if( map-has-key($map: $global-themes-vars, $key: $theme)){
        $theme:map-get($map:$global-themes-vars,$key:$theme);
        @if( map-has-key($map: $theme, $key: $name)){
            @return map-get($map:$theme,$key:$name);
        }@else{
            @warn 'can`t find var '+$name;    
        }
    }@else{
        @warn 'can`t find theme '+$theme;
    }

    @return $default;
}
