@use 'sass:meta';
@use "sass:color";
@use "sass:map";

$global-themes-vars:();

@mixin genCssVar($maps:(),$theme:'light'){
    $themeVars:();

    @each $varName,$defaultValue in $defaults{
        $value:if(map-has-key($map: $maps, $key: $varName),#{map-get($map: $maps, $key:$varName )},#{$defaultValue});
        --v2-wd-#{$varName}:#{$value};
        $themeVars:map-merge($themeVars,(#{$varName}:$value));    
    };

    $global-themes-vars:map-merge($global-themes-vars,(#{$theme}:$themeVars)) !global;
}

@function get-var($name,$theme:'light',$default:''){
    @if( map-has-key($map: $global-themes-vars, $key: $theme)){
        $theme:map-get($map:$global-themes-vars,$key:$theme);
        @if( map-has-key($map: $theme, $key: $name)){
            @return map-get($map:$theme,$key:$name);
        }@else{
            @warn 'can`t find var '+$name;    
        }
    }@else{
        @warn 'can`t find theme '+$theme;
    }

    @return $default;
}
