@use 'sass:meta';
@use "sass:color";
@use "sass:map";

$global-themes-vars:();
map-set($global-themes-vars,'test',900);    

@mixin genCssVar($maps:(),$theme:'light'){
    $themeVars:();

    $defaults:(
        'bg':#EDF2F9,
        'color':#83909F,
        'size':32px,
        'gap':5px,
        'margin':2px,
        'padding':2px,
        'radius':0.25rem,
        'font-size':14px ,
        'font-family':meta.inspect(font-family('verdana')),
        //'font-family':font-family('verdana'),
    
        'hovering':0.95,
        
        'red':#ff0000,
        'green':#008b14,
        'blue':#0D6EFD,
        'orange':#FF8A00,
    
        
        'primary':#0D6EFD,
        'danger':#C32F3D,
        'high':#fdfdfd,   
        'secondary':#fdfdfd,
        'success':#008b14,
        'highlight':#2C7BE5,
        'warning':#FF8A00,
    
        'label':#5E6E82,
        'border':#D8E2EF,
        'outline':#CADEF8,
        'hover':#e9ecf1,
        'select':#2C7BE5,
        'header':#EDF2F9,
        'deep':#FFFFFF,
        'transparent':rgba(0,0,0,0),
        'block':#FFFFFF,
        'alert':#ff0000,
        'url':#2C7BE5,
        'info':#2C7BE5,
        );

    @each $varName,$defaultValue in $defaults{
        //@debug $defaultValue;
        @if (map-has-key($map: $maps, $key: $varName)){
            --v2-wd-#{$varName}:#{map-get($map: $maps, $key:$varName )};
        } @else {
            --v2-wd-#{$varName}:#{$defaultValue};
        }
    };

    //map.set($themes,$theme,$themeVars);
    
    

}
