@use "sass:meta";
@use "sass:math";

@mixin define(){

    $bg:var(--v2-wd-group);  
    $content:var(--v2-wd-block);

    $color-caption:var(--v2-wd-color-high);
    

    //$border:rgba(var(--v2-wd-border-rgb),1);
    $border:rgba(var(--v2-wd-border-rgb),0.8);
    $font-size:var(--v2-wd-font-size);
    $gap:var(--v2-wd-gap);
    $radius:var(--v2-wd-radius);
    $size:var(--v2-wd-size);

    .wd-group{
        //overflow: hidden;
        box-shadow:   0 3px 6px 0 rgba(0, 0, 0, 0.07);
        min-height: $size;
        
        background-color: $bg;

        border:1px solid  $border;
        font-size: $font-size;
        border-radius: $radius;
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;    
        overflow: hidden;
        
        [group=caption]{
            flex:0 1 auto;
            font-size: 1.1rem;
            min-height: calc($size * 1.4);
            line-height: calc($size * 1.4);
            padding-left: calc($gap*2);
            color: $color-caption;
            border-bottom:1px solid rgba(var(--v2-wd-border-rgb),0.5);
            //text-shadow: 0px 0px 1px var(--v2-wd-color-high);

        }
        [group=content]{
            flex:1 1 auto;
            padding: calc($gap*2);
            min-height: calc($size * 2);

            background-color: $content;
        }
    }
}

@include define();