

@mixin define($args...){
    $size:var(--v2-wd-size);
    $gap:var(--v2-wd-gap);
    $color:var(--v2-wd-label);
    $margin:var(--v2-wd-margin);
    
    [label]{
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        >label{
            overflow: hidden;
        }

        >[labeled]{
            flex:1 1 auto;
            overflow: hidden;
        }
        

    }
    .wd-label{
        //margin-bottom:$margin;
        min-height:$size;
        box-sizing: border-box;

        label{
            @if($color!='none'){
                color:$color;
            };
            height:$size;
            line-height: $size;
            margin-right:$gap;
            min-width:7rem;
            padding-top: var(--v2-wd-outline-width);
            padding-bottom: var(--v2-wd-outline-width);
        }            

        >[labeled]{
            padding: calc(var(--v2-wd-outline-width));
            
        }

    }
}

@include define();