@import './vars.scss';


@mixin define($args...){
    $size:var(--wd-size);
    $gap:var(--wd-gap);
    $color:var(--wd-label);
    $margin:$wd-margin;
    .wd-label{
        margin-bottom:$margin;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;

        height:$size;

        >*:nth-child(2){
            //flex:1 1 auto;
            margin-right: 0px;
        }
        label{
            @if($color!='none'){
                color:$color;
            };
            height:$size;
            line-height: $size;
            margin-right:$gap;
            min-width:6rem;
            overflow: hidden;
        }            
    }
}

@include define();