@use "sass:meta";
@import './Gap.scss';

@mixin define(){
    //$themes:$wd-themes;
    //$hovers:$wd-high;
    //$hovers-color:$wd-color;

    //@each $theme in $themes{
    //    #{getThemingRootClass($theme)}{
            //--btn-bg-hover:#{meta.inspect(blendColors($colors:$hovers,$theme:$theme,$level:-5%))};
            //-btn-color-hover:#{meta.inspect(blendColors($colors:$hovers-color,$theme:$theme,$level:-20%))};
    //    }   
    //}

    $size:var(--v2-wd-size);
    $bg:var(--v2-wd-high);
    $color:var(--v2-wd-color);
    $highlight:var(--v2-wd-highlight);
    $border:var(--v2-wd-border);
    $outline:var(--v2-wd-outline);
    $margin:var(--v2-wd-margin);
    $font-size:var(--v2-wd-font-size);
    $margin:var(--v2-wd-margin);
    $radius:var(--v2-wd-radius);
    $gap:var(--v2-wd-gap);
    $tick:var(--v2-wd-tick);
    $invert:50%;//var(--cb-invert);

    [list]{
        box-sizing: border-box;
        overflow: hidden;
        
        >div{
            //@include display-flex-horiz-stretch();
        }
    }
    .wd-list-item{
        min-height: $size;
        height:$size;
        line-height: $size;
        text-indent: $gap;
        overflow: hidden;
        border-bottom: 1px solid $border;
        &[active]{
            color:$highlight;
            //text-shadow: 0 0 1px $highlight;
        }
        &:hover{
            background-color:var(--btn-bg-hover);
            color:var(--btn-color-hover);
            &[active]{
                color:$highlight;
                //text-shadow: 0 0 1px $highlight;
            }
        }
        >div{
            &[caption]{
                flex: 1 1 auto;

                overflow: hidden;    
            }
            &[icon]{
                width: $size;
                min-width: $size;
                background-image: $tick; 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                filter:invert($invert);                
                
            }
        }
        &[expand]{
            >div{
                &[icon]{
                    transform: rotate(180deg);
                }
            }
        }

    }

}

@include define();

