@use "sass:meta";
@import './vars.scss';

@mixin define(){
    $themes:$wd-themes;
    $hovers:$wd-high;
    $hovers-color:$wd-color;

    @each $theme in $themes{
        #{getThemingRootClass($theme)}{
            //--btn-bg-hover:#{meta.inspect(blendColors($colors:$hovers,$theme:$theme,$level:-5%))};
            //-btn-color-hover:#{meta.inspect(blendColors($colors:$hovers-color,$theme:$theme,$level:-20%))};
        }   
    }


    $size:var(--wd-size);
    $bg:var(--wd-high);
    $color:var(--wd-color);
    $border:var(--wd-border);
    $outline:var(--wd-outline);
    $margin:var(--wd-margin);
    $font-size:var(--wd-font-size);
    $margin:var(--wd-margin);
    $radius:var(--wd-radius);
    $gap:$wd-gap;

    .wd-list{
        box-sizing: border-box;
        overflow: hidden;
        //min-height: $size;
        height:auto;
        @include transition(height 1s,color 1s);
        &[expand*="true"]{
            height:stretch !important;
            color:red;
        }
        
    }
    .wd-list-item{
        min-height: $size;
        height:$size;
        line-height: $size;
        text-indent: $gap;
        white-space: nowrap;
        overflow: hidden;

        &[active]{
            color:limegreen;
        }
        &:hover{
            background-color:var(--btn-bg-hover);
            color:var(--btn-color-hover);
            &[active]{
                color:limegreen;
            }
        }
    }

}

@include define();

