@use "sass:meta";
@import './vars.scss';
@import './Gap.scss';

@mixin define(){
    $themes:$wd-themes;
    $hovers:$wd-high;
    $hovers-color:$wd-color;

    @each $theme in $themes{
        #{getThemingRootClass($theme)}{
            //--btn-bg-hover:#{meta.inspect(blendColors($colors:$hovers,$theme:$theme,$level:-5%))};
            //-btn-color-hover:#{meta.inspect(blendColors($colors:$hovers-color,$theme:$theme,$level:-20%))};
        }   
    }

    $size:var(--wd-size);
    $bg:var(--wd-high);
    $color:var(--wd-color);
    $highlight:var(--wd-highlight);
    $border:var(--wd-border);
    $outline:var(--wd-outline);
    $margin:var(--wd-margin);
    $font-size:var(--wd-font-size);
    $margin:var(--wd-margin);
    $radius:var(--wd-radius);
    $gap:$wd-gap;
    $tick:$wd-tick;
    $invert:50%;//var(--cb-invert);

    .wd-list{
        box-sizing: border-box;
        overflow: hidden;
        
        >div{
            //@include display-flex-horiz-stretch();
        }
    }
    .wd-list-item{
        min-height: $size;
        height:$size;
        line-height: $size;
        text-indent: $gap;
        overflow: hidden;
        border-bottom: 1px solid $border;
        &[active]{
            color:$highlight;
            //text-shadow: 0 0 1px $highlight;
        }
        &:hover{
            background-color:var(--btn-bg-hover);
            color:var(--btn-color-hover);
            &[active]{
                color:$highlight;
                //text-shadow: 0 0 1px $highlight;
            }
        }
        >div{
            &[is='caption']{
                @include stretch();
                overflow: hidden;    
            }
            &[is='icon']{
                width: $size;
                min-width: $size;
                background-image: url($tick); 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                filter:invert($invert);                
                
            }
        }
        &[expand='true']{
            >div{
                &[is='icon']{
                    transform: rotate(180deg);
                }
            }
        }

    }

}

@include define();

