

@mixin define($args...){
    .wd-shadow{
        background-color: rgb(0, 0, 0);
        animation: 0.5s shadow-show ease;
        opacity:0.5;
    } 

    .wd-modal{
        &[state='hide']{
            display: none;
        }
        &[state='show']{
            display: 'block';
        }
    }    
}


@include define();

@keyframes shadow-show {
    from { opacity:0 }
    to {  opacity:0.5}
}
