@import './vars.scss';


@mixin define($args...){

    .wd-shadow{
        background-color: rgb(0, 0, 0);
        position: absolute;
    } 

    .wd-modal{
        &[state='hide']{
            display: none;
        }
        &[state='show']{
            display: 'block';
        }
    }    
}


@include define();