$wd-max-mobile-width:900px;
$wd-nav-panel-height:$wd-size*1.5;
.wd-layout{

    display: flex;
    flex-direction: column;
    @media screen and (min-width: $wd-max-mobile-width) {
        flex-direction: row;
    }    
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    overflow: hidden;

}

.wd-nav{
    //border: 1px dashed yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    
    >div[it='panel']{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        .wd-nav-logo{
            flex:1 1 auto; 
            min-height: $wd-nav-panel-height;
            line-height: $wd-nav-panel-height;   
        }

        .wd-nav-btn{
            @media screen and (min-width: $wd-max-mobile-width) {
                display: none;
            }
            
        }
    }
    transition: height 0.4s;
    
    >div[it='items']{
        overflow-x: hidden;
        overflow-y: auto;
    }

    &[state='open']{
        height: 90% !important;
        @media screen and (min-width: $wd-max-mobile-width) {
            height: auto !important;
        }
        >div[it='items']{
            @media screen and (max-width: $wd-max-mobile-width) {
                //max-height: 400px !important;
            }
        }
    }
    &[state='close']{
        height: $wd-nav-panel-height !important;
        @media screen and (min-width: $wd-max-mobile-width) {
            height: auto !important;
        }
    }
    
}

.wd-nav-btn{
    width: $wd-nav-panel-height;
    text-align: center;
    line-height: $wd-nav-panel-height;
    cursor: pointer;


}
.wd-nav-item{
    border-bottom: 1px dashed gray;
    
    min-height: $wd-size;
    //height: $wd-size;
    min-width: 5*$wd-size;

    line-height: $wd-size;
    padding-left: $wd-gap;
    padding-right: $wd-gap;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    
}