@use "sass:meta";

@each $name,$width in $wd-widths{
    .nav-container-#{$name}{ 
        height: 100%;

        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        
        flex-direction: row;
        @include less-than($name){
            flex-direction: column;
        }
    }
    
}

.nav-content{
    //border: 1px dashed red;
    flex:1 1 auto;
    overflow: auto;
}


@mixin define(){
    //$themes:$wd-themes;
    //$hovers:$wd-high;
    //$hovers-color:$wd-color;

    //@each $theme in $themes{
    //    #{getThemingRootClass($theme)}{
            //--nav-bg-hover:#{meta.inspect(blendColors($colors:$hovers,$theme:$theme,$level:-5%))};
            //--nav-color-hover:#{meta.inspect(blendColors($colors:$hovers-color,$theme:$theme,$level:-30%))};
    //    }   
    //}

    $size:var(--v2-wd-size);
    $gap:var(--v2-wd-gap);
    $size-item:calc(var(--v2-wd-size)*0.8);
    $tick:$wd-tick;

    .wd-navbar{
        min-width:250px;
        
        [nav-menu]{
            overflow: hidden;
            padding-left: $gap;
            padding-right: $gap;
        }        
        [nav-item]{
            cursor:default;
            min-height:$size;
            line-height: $size;
            overflow: hidden;
            [nav-item]{
                padding-left:calc($size*0.5);
            }
            [caption]{
                &:hover{
                    color: var(--nav-color-hover);
                    //text-shadow: 0px 0px 1px var(--nav-color-hover);
                }
                [img]{
                    width: $size;
                    background-image: url($tick); 
                    background-repeat: no-repeat, no-repeat;
                    background-position: center;
                    filter:invert(50%);                
                    transition: transform 0.2s;
                }
            }
            &[opened]{
                >[caption]{
                    //color:var(--wd-highlight);
                    //text-shadow: 0px 0px 0.5px var(--wd-highlight);
                    [img]{
                        transform: rotate(180deg);   
                    }
                }
            }
            &[active]{
                >[caption]{
                    color:var(--wd-highlight);
                    //text-shadow: 0px 0px 0.5px var(--wd-highlight);
                }
            }
        }
    }
    
    [navbar]{
        //border:1px dashed yellowgreen;
        @include less-large{
            max-height: 80%;
        }
        
        
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;       
        flex-direction: column;    

        [nav-panel]{

            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: center;       
            flex-direction: row;
        }

        [nav-btn]{
            min-height: $size;
            min-width: $size;
            font-size:2rem;
            text-align: center;
            cursor:pointer;
            @include more-large{
                display: none;
            }
        }

        [nav-empty]{
            flex:1 1 auto;
            @include more-large{
                display:none;
            }
        }
        
        [nav-menu]{
            
            overflow: auto;
            @include wd-scrollbar();        

            @include less-large{
                height:0px;
            }
            &[expand]{
                height:auto !important;
                min-height: auto !important;
            }
            //@include less-large{
                /*
                position: absolute;
                right:0px;
                top:0px;
                background-color: gray;
                height: 100%;
                width:0px;
                */
            //}
        }

        [caption]{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;       
            flex-direction: row;
            [text]{
                flex: 1 1 auto;
            }
        }
    }


    
    
    @each $name,$width in $wd-widths{
        .nav-container-#{$name}{ 
            [navbar]{
                @include more-than($name){
                    max-height: none !important;
                }
                @include less-than($name){
                    max-height: 80%;
                }
                [nav-btn]{
                    display: block;
                    @include more-than($name){
                        display: none !important;
                    }
                }
                [nav-empty]{
                    @include more-than($name){
                        display:none !important;
                    }
                }
                [nav-menu]{
                    height:auto;
                    @include less-than($name){
                        height:0px;
                    }                    
                }
            }
        }
    }
    
    .wd-nav-logo{
        min-height: calc($size*1.5);
        line-height: calc($size*1.5);
        padding-left: $gap;
        padding-right: $gap;    
        color:var(--wd-orange);
    }
    
}


@include define();