@use "sass:meta";
@import './vars.scss';


@mixin define(){

    $size:var(--wd-size);
    $panel-height:calc($size*1.5);
    $bg:var(--wd-deep);
    $color:var(--wd-color);
    $border:var(--wd-border);
    $gap:var(--wd-gap);
    $mobile-width:$wd-max-mobile-width;
    $tick:$wd-tick;
    $invert:50%;//var(--cb-invert);

    .wd-nav-left{

        @include display-flex-vert-stretch();    
        @media screen and (min-width: $mobile-width) {
            flex-direction: row;
        }    
        overflow: hidden;
    }
    
    .wd-nav-top{
        @include display-flex-vert-stretch();
        overflow: hidden;
    
        >div[it='navbar']{
    
            @include display-flex-vert-stretch();
            @media screen and (min-width: $mobile-width) {
                flex-direction: row;
            }
    
            >div[it='items']{
                display:block;
                @media screen and (min-width: $mobile-width) {
                    @include display-flex-horiz-stretch();
                }
            }
        }
    }
    
    div[it='navbar']{
        @include display-flex-vert-stretch();
        >div[it='panel']{
            min-height: $panel-height;
            @include display-flex-horiz-stretch();
            >div[it='logo']{
                @include stretch();
                line-height: $panel-height;   
            }
            >div[it='btn']{
                width: $panel-height;
                @media screen and (min-width: $mobile-width) {
                    display: none;
                }
            }
        }

        @include transition(height 0.4s);
        
        >div[it='items']{
            overflow-x: hidden;
            overflow-y: auto;
        }
    
        &[state='open']{
            height: 90% !important;
            @media screen and (min-width: $mobile-width) {
                height: auto !important;
            }
        }

        &[state='close']{
            height: $panel-height !important;
            @media screen and (min-width: $mobile-width) {
                height: auto !important;
            }
        }
        
    }//navbar

    div[it='nav-menu']{
        overflow: hidden;
        div{
            &[it='title']{
                @include display-flex-horiz-stretch();
                >div{
                    &:nth-child(1){
                        @include stretch();
                    }
                    &:nth-child(2){
                        width: $size;
                    }
                }
            }
            &[it="list"]{
                @include stretch();
                padding-left: $size;
            }
        }


        //@include transition(height 0.4s);
        //height: 0px;
        &[expand='expand']{
            height: auto;                       
        }
    }

    .wd-nav-btn{
        text-align: center;
        line-height: $panel-height;
        cursor: pointer;
    }

    .wd-nav-item{
        min-height: $size;
        //border-bottom: 1px dashed $border;
        //min-width: calc(2*$size);
        line-height: $size;
        padding-left: $gap;
        padding-right: $gap;
    }

    .wd-nav-menu{
        min-height: $size;
        //border-bottom: 1px dashed $border;

        >div{
            &[it='title']{
            line-height: $size;

            padding-left: $gap;
            padding-right: $gap;
            
                >div[it="btn"]{
                    width: $size;
                    background-image: url($tick); 
                    background-repeat: no-repeat, no-repeat;
                    background-position: center;
                    filter:invert($invert);                
                }
            }
            &[it='list']{
                >div{
                    &:last-child{
                        border-color: rgba(0,0,0,0) !important;
                    }
                }    
            }
        }
        &[expand='expand']{
            >div[it='title'] >div[it='btn']{ 
                transform: rotate(180deg);
            }
        }
    }

}

@include define();

