@use "sass:meta";

@mixin wd-scrollbar(
    $bg:var(--v2-wd-high),
    $size:calc( var(--v2-wd-size) * 0.4),
    $thumb:rgba(var(--v2-wd-secondary-rgb),0.3),
    $hover:rgba(var(--v2-wd-secondary-rgb),0.5),
)
{
    
    
    &::-webkit-scrollbar-track{
        background-color: $bg;
        border-right:1px solid $bg;
    }
    
    &::-webkit-scrollbar{
        background-color:$bg;
        width: $size;
        height: $size;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color:$thumb;
        border:1px solid $thumb;
        
        //@include transition(background-color 2s);        
        &:hover{
            //@include transition(background-color 2s);        
            background-color:$hover;
            border:1px solid $hover;
        }
    }
    &::-webkit-scrollbar-corner{
        background-color:$bg
    }
    
}

@mixin define(){
    .wd-scrollbar{
        @include wd-scrollbar();        
    }
}

@include define();