@use "sass:meta";


//@each $theme in $wd-themes{
//    #{getThemingRootClass($theme)}{
//       --wdsc-sb-thumb:#{meta.inspect(blendColors($colors:$wd-color,$theme:$theme ,$level:40%))};
//       --wdsc-sb-hover:#{meta.inspect(blendColors($colors:$wd-color,$theme:$theme ,$level:30%))};
//    };
//};


@mixin wd-scrollbar(
    $bg:var(--v2-wd-transparent),
    $size:calc( var(--v2-wd-size) * 0.4),
    $thumb:var(--wdsc-sb-thumb),
    $hover:var(--wdsc-sb-hover),
)
{

    &::-webkit-scrollbar-track{
        background-color: $bg;
        border-right:1px solid $bg;
    }
    
    &::-webkit-scrollbar{
        background-color:$bg;
        width: $size;
        height: $size;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color:$thumb;
        border:1px solid $thumb;
        
        //border-radius: 24px;
        //border-radius: 24px;
        
    }
    &::-webkit-scrollbar-thumb{
        &:hover{
            
            background-color:$hover;
            border:1px solid $hover;
        }
    }
}

@mixin define(){
    .wd-scrollbar{
        @include wd-scrollbar();        
    }
}

@include define();