.wd-table-fly-head{

}

.wd-table-fly-caption{
    
    background-color:var(--v2-wd-header);
    color:var(--v2-wd-color-high);
    height: var(--v2-wd-size);
    line-height: var(--v2-wd-size);
    padding-left: var(--v2-wd-gap);
}