@use "sass:meta";

@mixin define(){
    //$themes:$wd-themes;
    //$colors:$wd-color;
    
    //@each $theme in $themes{
    //    #{getThemingRootClass($theme)}{
    //       --tf-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme ,$level:-20%))};
    //       --tf-header-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$level:-20%))};
    //       --tf-select-color:#{meta.inspect(blendColors($colors:$colors,$theme:$theme,$light:50%,$dark:20%))};
    //    };
    //};

    $size:2rem;
    $outline:'none';

    $bg:var(--v2-wd-transparent);
    $color:var(--v2-wd-color);
    $border:var(--v2-wd-border);
    $sep:'yes';

    $header:var(--v2-wd-header);
    $header-color:var(--v2-wd-color);
    $header-border:var(--v2-wd-border);
    $header-sep:'yes';//yes / none

    $font-size:var(--v2-wd-font-size);
    $gap:var(--v2-wd-gap);

    $select:var(--v2-wd-select);
    $select-color:var(--v2-wd-select-color);

    table{
    
        box-sizing: border-box;
        border-collapse: collapse;
        background-color: $bg;
        color: $color;

        tr{
            min-height: $size;
            height: $size;
        }
        
        thead{  
            background-color: $header;
            color:$header-color;
            th{
                border: 1px solid $header-border;
                font-weight: normal;
                @if($header-sep=='none'){
                    //border-right-color: rgba(0,0,0,0);
                    border-right-color: $header;
                }
                overflow: hidden;
                &:first-child{
                }
                &:last-child{
                    border-right-color: $header-border;
                }

            }
        }
        
        tbody{
            td{
                border: 1px solid $border;
                @if($sep == 'none'){
                    border-left-color:rgba(0,0,0,0);
                    border-right-color:rgba(0,0,0,0);
                }
                padding-left: $gap;
            }
            tr{
                //@include transition(background-color 0.2s,color 0.2s);
                &[select]{
                    background-color: $select;
                    color: $select-color;
                }
                &:first-child{
                    td{
                        //border-top: 0px;
                    }    
                }
                td{
                    &:first-child{
                    }
                    &:last-child{
                    }
                }
            }
            [footer]{
                text-align: center;
            }
            [nodata]{
                text-align: center;
            }
        }

    }
}

@include define();