// @include display-flex-horiz-stretch();
@mixin display-flex-horiz-stretch(){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
// @include display-flex-vert-stretch;
@mixin display-flex-vert-stretch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;    
}

// @include display-flex-horiz-center();
@mixin display-flex-horiz-center(){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

// @include display-flex-vert-center();
@mixin display-flex-vert-center(){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

// @include stretch();
@mixin stretch($side:1){
    flex: $side 1 auto;
}

// @include no-stretch();
@mixin no-stretch(){
    flex: 0 1 auto;
}

//@include transparent-border();
@mixin transparent-border{
    border:1px solid rgba(0,0,0,0); 
}

//@include transition(margin 0.2s);
@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}


$wd-font-family:(
    'arial':'Arial, sans-serif',
    'arial-black':'Arial Black, sans-serif',
    'comic':'Comic Sans MS, cursive',
    'courier':'Courier New, monospace',
    'franklin':'Franklin Gothic Medium, sans-serif',
    'gothic':'Franklin Gothic Medium, sans-serif',
    'georgia':'Georgia, serif',
    'impact':'Impact, sans-serif',
    'lucida':'Lucida Console, monospace',
    'console':'Lucida Console, monospace',
    'ms':'Microsoft Sans Serif, sans-serif',
    'palatino':'Palatino Linotype, serif',
    'sylfaen':'Sylfaen, serif',
    'tahoma':'Tahoma, sans-serif',
    'times':'Times New Roman, serif',
    'trebuchet':'Trebuchet MS, sans-serif',
    'verdana':'Verdana, sans-serif',
    'roboto':'Roboto, sans-serif'
);

//@include font-family('arial');

@mixin font-family($name: 'roboto'){ 
    @if map_has_key($wd-font-family,$name) {
        font-family: #{map-get($wd-font-family, $name)};
    } @else {
        font-family: map-get($wd-font-family, 'roboto');
        @debug 'set default font-family: Roboto';
        @debug 'you can use next fonts:';
        @each $key, $mean in $wd-font-family {
            @debug $key;
        }
        
    };
}



