$wd-themes:('light','dark') !default;
$wd-sizes:('normal','small') !default;


$wd-font-size:('small':9px,'normal':12px) !default;


$wd-bg:('light':#F7F7F7,'dark':#1F201C) !default;
$wd-color:('light':#696969,'dark':#646464) !default;
$wd-border:('light':#DCDCDC,'dark':#3D3E38) !default;
$wd-border-focus:('light':#92BCD8,'dark':#3476BC) !default;

$wd-ctrl-bg:('light':#FDFDFD,'dark':#343530) !default;
$wd-ctrl-bg-hover:$wd-ctrl-bg !default;
$wd-ctrl-color:('light':#000000,'dark':#cfcfcf) !default;
$wd-ctrl-color-readonly:('light':#000000,'dark':#cfcfcf) !default;
$wd-ctrl-color-disable:('light':#797979,'dark':#cfcfcf) !default;
$wd-ctrl-color-hover:('light':#000000,'dark':#646464) !default;
$wd-ctrl-border:$wd-border !default;
$wd-ctrl-border-focus:$wd-border-focus !default;
$wd-ctrl-border-hover:$wd-border !default;




$wd-size:('small':20px,'normal':32px) !default;
$wd-scale:('small':0.5,'normal':1) !default;
$wd-gap:('small':2px,'normal':5px) !default;





// to use: @include transparent-border();
@mixin transparent-border{
    border:1px solid rgba(0,0,0,0); 
}

@mixin flex-row-strech-stretch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;    
}

@mixin stretch{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;    
}

@mixin no-stretch{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;    
}
