.abs-pos{
    color:red !important;
    position: absolute;
    .wd-edit-frame{
        //position: absolute;
    }
}

.icon-custom{
    filter: invert(1);
}


.wd-table,.wd-table-fixed{
    [high]{
        #NAME{
            color:red;
        }
    }
}
