.abs-pos{
    color:red !important;
    position: absolute;
    .wd-edit-frame{
        //position: absolute;
    }
}

.icon-custom{
    filter: invert(1);
}


.wd-table,.wd-table-fixed{
    #btn-del{
        font-size:0.8rem;
        display:none;
        max-height: 16px !important;
        min-height: auto;
    }
    [select]{
        #btn-del{
            display:block;
        }
    }
    [high]{
        #NAME{
            color:red;
        }
    }
    tbody{
        #AGE{
            color:yellowgreen;
        }
    }
}

.wd-my-btn{
    background-color: #C3DAFF;
    color:black;
}

.nav-content{
    padding:10px;
}

.wd-icon-custom{
    width:100px;
    height:100px;
}

.wd-group-custom{
    background-color: black;
    [group-content]{
        
    }
}