@import '../../style/theme-default.scss';
@import '../../style/theme-dark.scss';

@import './custom.scss';
@import '../../style/ScrollBar.scss';
@import '../../style/Icon.scss';
@import '../../style/Btn.scss';
@import '../../style/BtnIcon.scss';
@import '../../style/Edit.scss';
@import '../../style/Label.scss';
@import '../../style/NavBar.scss';
@import '../../style/CheckBox.scss';
//@import '../../style/ctrls.scss';
@import './pics.scss';
@import './test-place.scss'; 
@import './icons.scss';
@import '../jsx/Block.scss';
@import '../jsx/Head.scss';


*{
    box-sizing: border-box;
    user-select: none;
}

input, select, textarea, button{
    font-family:inherit;
}

html{
    font-size:var(--v2-wd-font-size);
    font-family: font-family('verdana'); 
}

body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    
}
#app{
    position: absolute;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    border:1px solid rgba(0,0,0,0);
    box-sizing: border-box;

    background-color:var(--v2-wd-bg);
    color: var(--v2-wd-color);

    >div{

        max-width:100%;
        max-height:100%;
        height:100%;


        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;   

        .panel{
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
    
            border-bottom:1px solid rgb(116, 116, 116);
            min-height:48px;
            
            padding-top:5px;
            padding-left:15px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: center;
            >input{
                margin-left:2px;
            }
            span{
                color:rgb(212, 84, 25);
                
                padding:5px;
                font-size: 1.2em;
                min-width: 120px;
                text-align: center;

            }

        }
        .content{
            //min-height: $wd-size*10;
            //background-color: rgb(2, 2, 49);            
            padding-left:10px;
            padding-right:10px;

            padding-top: 20px;

            order: 0;
            flex: 1 1 auto;
            align-self: auto;
            overflow: auto; 
            
            .container-for-table-fixed{
                overflow: hidden;
            }
            
        }
    
    }
}


.font-line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    border-bottom: 1px solid #32332E;
    height: 24px;
    line-height: 24px;
    >div{
        &:nth-child(1) {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            width:100px;
        }
        
        &:nth-child(2) {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;
        }
    }
    @each $font,$type in $wd-fonts-family{
        //@debug $font;
        .font-#{$font}{
            font-family:  font-family($font);    
        }
    }
    

}

#btn-test{
    @include less-large{
        color:red !important;
    }
}