@import '../../style/vars.scss';
.block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin-bottom: 2px;
    >div{
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        min-width: 32px;
        margin-bottom:2px;
        &:nth-child(2){
            flex: 1 1 auto;
        }
    }
    .block-horiz{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }
}

.b-child{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.25rem;
    box-shadow: 5px 5px 8px -5px rgba(34, 60, 80, 0.6);
}
.dark .b-child{
    border:1px solid map-get($wd-border,'dark');
    background-color: map-get($wd-block,'dark');

}

.light .b-child{
    border:1px solid map-get($wd-border,'light');
    background-color: map-get($wd-block,'light');

}