@use "sass:meta";

@mixin btn-mixin($args...){
    $size:32px;
    $color:#212529;
    $bg:#eee;
    $border:#bdbdbd;
    $hover-bg:    #bdbdbd;
    $hover-color:'none';
    $select-bg:#0E639C;    
    $select-color:white;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='hover-bg'){$hover-bg:$mean;};
        @if ($name=='hover-color'){$hover-color:$mean;};
        @if ($name=='select-bg'){$select-bg:$mean;};
        @if ($name=='select-color'){$select-color:$mean;};
    }
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: $color;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $bg;
    border: 1px solid $border;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
    &:hover{
        background-color: $hover-bg;
        @if($hover-color!='none'){
            color:$hover-color;
        }
    }
}


@mixin text-mixin($args...){
    $size:32px;
    $border: #bdbdbd;
    $bg:#fff;
    $color: #212529;
    $ph-color:#212529;
    $ph-opacity:0.4;
    $focus-color: #212529;
    $focus-bg: #fff;
    $focus-border: #bdbdbd;
    $focus-shadow:rgba(158, 158, 158, 0.25);
    @each $name, $mean in meta.keywords($args) {
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='color'){$color:$mean;};
        @if ($name=='ph-color'){$ph-color:$mean;};
        @if ($name=='focus-color'){$focus-color:$mean;};
        @if ($name=='focus-bg'){$focus-bg:$mean;};
        @if ($name=='focus-border'){$focus-border:$mean;};
        @if ($name=='focus-shadow'){$focus-shadow:$mean;};        
    };
    
    //display: block;
    //width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $color;
    background-color: $bg;
    background-clip: padding-box;
    border: 1px solid $border;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &::placeholder{
        color: $ph-color;
        opacity: $ph-opacity;
    }
    &:focus{
        color: $focus-color;
        background-color: $focus-bg;
        border-color: $focus-border;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $focus-shadow;
    }
}

@each $theme in $themes{
    label{
        //display: block;
        //margin-bottom: 0.25rem;
        >span{
            //margin-right:$gap;            
        }
    }
    input[type=text]{
        display: inline-block
        //@include text-mixin();
    }
    input[type=button],button{
        //@include btn-mixin();
    };
}