@use 'sass:meta';

:root{
    --bg:red;
}


@each $theme in $wd-themes{
    :root.#{$theme}{
        --bg:#{meta.inspect(map-get($wd-danger,$theme))};
        $primary:red;      
        /*
        $theme-colors: (
            "primary":    map-get($wd-primary, $theme),
            "secondary":  map-get($wd-secondary, $theme),
            "success":    map-get($wd-success, $theme),
            "info":       map-get($wd-info, $theme),
            "warning":    map-get($wd-warning, $theme),
            "danger":     map-get($wd-danger, $theme),
            "light":      map-get($wd-light, $theme),
            "dark":       map-get($wd-dark, $theme)
          );
        */
    }

    
    

    :root.#{$theme}{
        .app{
            background-color: map-get($wd-bg,#{$theme});
            color:map-get($wd-color,#{$theme});
        }
    }
    

     
    .#{$theme}{
        
        $theme-colors: (
            "primary":    map-get($wd-primary, $theme),
            "secondary":  map-get($wd-secondary, $theme),
            "success":    map-get($wd-success, $theme),
            "info":       map-get($wd-info, $theme),
            "warning":    map-get($wd-warning, $theme),
            "danger":     map-get($wd-danger, $theme),
            "light":      map-get($wd-light, $theme),
            "dark":       map-get($wd-dark, $theme)
          );
    
        .modal-content{
            background-color: map-get($wd-block,$theme) !important;
            color: map-get($wd-color,$theme) !important;
            border-color: map-get($wd-border,$theme) !important;
            div{
                border-color: map-get($wd-border,$theme) !important;
            }
        }
        .form-control{
            background-color: map-get($wd-bg,$theme) !important;
            color: map-get($wd-color,$theme) !important;
            border-color: map-get($wd-border,$theme) !important;
            outline-color: map-get($wd-outline,$theme) !important;
        }
    }

 
}
.test{
    height: 16px;
    background-color: var(--bg);
}
@import "../../node_modules/bootstrap/scss/bootstrap";

