@use "sass:map";
@import '../../style/vars.scss';
@import '../../style/Btn.scss';
@import '../../style/Edit.scss';
@import '../../style/Label.scss';
@import '../../style/Group.scss';
@import '../../style/ComboBoxEx.scss';
@import '../../style/List.scss';
@import './custom.scss';


*, *::before, *::after {
    box-sizing: border-box;
}

html{
    font-size: $wd-font-size;
    font-family:$wd-font-family;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;

}

body{
    background-color: gray;
    user-select: none;
    input[type="text"] {
        user-select: auto;
    }
    margin:0px;
    padding:0px;
    overflow:hidden;
    
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


    #root{
        overflow: hidden;
        position: absolute;

        margin:0px;
        padding:0px;
        width:100%;
        height:100%;
        border:1px solid 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        .app{ 
            flex:1 1 auto;
        }
    }
    
}
.row{
    margin-bottom: $wd-gap;
}

