@use "sass:map";
// base:30445C https://colorscheme.ru/
$themes:('light','dark') !default;

$bgs:('light':#ffffff,'dark':#85888b) !default;
$colors:('light':#333,'dark':#fff) !default;


$borders:('light':#8095AE,'dark':#30445C) !default;

$selectBgs:('light':#8095AE,'dark':#8095AE) !default;
$activeColors:('light':#ffffff,'dark':#30445C) !default;
$selectColors:$activeColors !default;

$hoverBgs:('light':#BBC9DA,'dark':#131313) !default;
$hoverColors:$colors !default;



$size:32px !default;
$fontSize:16px !default;
$gap:5px !default;