@import '../vars.scss';
@import './btn-mixin.scss';

$wd-btn-bg:('light':#efefef,'dark':#343530) !default;
$wd-btn-color:$wd-ctrl-color !default;
$wd-btn-border:$wd-ctrl-border !default;
$wd-btn-border-focus:$wd-ctrl-border-focus !default;

@include btn-mixin($theme:$wd-default-theme);


@each $name in $wd-themes{
    .#{$name} {
        @include btn-mixin(
            $theme:$name,
            $bg:map-get($wd-btn-bg,#{$name}),
            $color:map-get($wd-btn-color,#{$name}),
            $border:map-get($wd-btn-border,#{$name}),
            $outline:map-get($wd-btn-border-focus,#{$name}),
        );
    }
}
