@import '../vars.scss';
@import '../mixin/btn-mixin.scss';


@include btn-mixin($theme:$wd-default-theme);


@each $name in $wd-themes{
    .#{$name} {
        @include btn-mixin(
            $theme:$name,
            $size:$wd-size,
            $bg:map-get($wd-high,$name),
            $color:map-get($wd-color,$name),
            $border:map-get($wd-border,$name),
            $outline:map-get($wd-outline,$name),
        );
    }
}
