@import '../vars.scss';

$wd-btn-bg:('light':#c4c4c4,'dark':#343530) !default;
$wd-btn-color:$wd-ctrl-color !default;
$wd-btn-border:$wd-ctrl-border !default;
$wd-btn-border-focus:$wd-ctrl-border-focus !default;

@mixin wd-btn-icon-theme($name){
    background-color: map-get($wd-btn-bg,#{$name});
    color: map-get($wd-ctrl-color,#{$name});
    border:1px solid map-get($wd-btn-border,#{$name});
    outline: none;
    &:focus { 
        outline: 1px solid map-get($wd-btn-border-focus,#{$name});
    }
    &:hover{
        background-color:darken(map-get($wd-btn-bg,#{$name}), 5%);
    }
}

@mixin wd-btn-icon-theme-size($name){
    $size:map-get($wd-size,#{$name});
    $font-size:map-get($wd-font-size,#{$name});
    $gap:map-get($wd-gap,#{$name});

    vertical-align: top;
    box-sizing: border-box;
    
    min-height:$size;
    height:$size;
    min-width:$size;
    
    border-radius: 3px;
    font-size: $font-size;
   
    padding-left:$gap;
    padding-right:$gap;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    
    >div{
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
    .wd-bi-icon{

        min-height:$size*0.5;
        min-width:$size*0.5;
        margin-right: $gap;
        >svg{
            height: $size*0.5;
        }
    }

    .wd-bi-value{
        min-width:calc($size/2);
       //text-align: center
    }
    
  
}
.wd-btn-icon{
    @include wd-btn-icon-theme($wd-default-theme);
    @include wd-btn-icon-theme-size($wd-default-theme-size);
}

@each $name in $wd-themes{
    .#{$name} {
        .wd-btn-icon{
            @include wd-btn-icon-theme($name);
        }
    }
}

@each $name in $wd-sizes{
    .#{$name}{
        .wd-btn-icon{
            @include wd-btn-icon-theme-size($name);
        }     
    }
}

.demo-bi-color{
    color:rgb(219, 188, 51);
}