@import '../vars.scss';
@import '../mixin/btnicon-mixin.scss';

$wd-btn-bg:('light':#c4c4c4,'dark':#343530) !default;
$wd-btn-color:$wd-color !default;
$wd-btn-border:$wd-border !default;
$wd-btn-border-focus:$wd-outline !default;


@include btnicon-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include btnicon-mixin(
            $theme:$name,
            $size:$wd-size,
            $bg:map-get($wd-high,$name),
            $color:map-get($wd-color,$name),
            $border:map-get($wd-border,$name),
            $outline:map-get($wd-outline,#{$name}),
        );
    }
}


.demo-bi-color{
    color:rgb(49, 214, 16) !important;
}