@import '../vars.scss';
@import '../mixin/btnicon-mixin.scss';

$wd-btn-bg:('light':#c4c4c4,'dark':#343530) !default;
$wd-btn-color:$wd-colors !default;
$wd-btn-border:$wd-borders !default;
$wd-btn-border-focus:$wd-outlines !default;


@include btnicon-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include btnicon-mixin(
            $theme:$name,
            $size:$wd-size,
            $bg:blendColor($colors:$wd-bgs,$theme:#{$name},$light:-10%,$dark:10%),
            $color:blendColor($colors:$wd-colors,$theme:#{$name},$light:-30%,$dark:40%),
            $border:map-get($wd-borders,#{$name}),
            $outline:map-get($wd-outlines,#{$name}),
        );
    }
}


.demo-bi-color{
    color:rgb(49, 214, 16) !important;
}