@import '../vars.scss';
@import '../mixin/btnicon-mixin.scss';

$wd-btn-bg:('light':#c4c4c4,'dark':#343530) !default;
$wd-btn-color:$wd-ctrl-color !default;
$wd-btn-border:$wd-ctrl-border !default;
$wd-btn-border-focus:$wd-ctrl-border-focus !default;


@include btnicon-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include btnicon-mixin(
            $theme:$name,
            $size:$wd-size,
            $bg:map-get($wd-btn-bg,#{$name}),
            $color: map-get($wd-ctrl-color,#{$name}),
            $border:map-get($wd-btn-border,#{$name}),
            $outline:map-get($wd-btn-border-focus,#{$name}),
        );
    }
}


.demo-bi-color{
    color:rgb(49, 214, 16) !important;
}