@import '../vars.scss';


@each $name in $wd-themes{
    
    .#{$name} {
        .ch-frame{
            input[type=checkbox] {

            }
            .checkbox{
                
            }
                
        }
}}

@each $name in $wd-sizes{
    $size:map-get($wd-size,#{$name});
    .#{$name} {
        .ch-frame{
            width: $size;
            height:$size;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;    
        
            .checkbox{

            }
            input[type=checkbox] {
                width: $size*0.7;
                height: $size*0.7;
                margin:0px;
            }
                
        }
}}
