@use "sass:math";
@import '../vars.scss';
@import './combobox-mixin.scss';

$wd-cbex-bg:$wd-ctrl-bg !default;
$wd-cbex-bg-list:$wd-cbex-bg !default;
$wd-cbex-bg-hover:('light':#0D6EFD,'dark':#0E639C) !default;
$wd-cbex-color-hover:('light':white,'dark':white) !default;
$wd-cbex-color:$wd-ctrl-color !default;
$wd-cbex-border:$wd-ctrl-border !default;
$wd-cbex-border-focus:$wd-ctrl-border-focus !default;

@include combobox-mixin($theme:$wd-default-theme);
@each $theme in $wd-themes{
    .#{$theme}{
        @include combobox-mixin($theme:$wd-default-theme);
    }
}
