@use "sass:meta";
@mixin combobox-mixin($args...){
    $theme:'dark';
    $size:2rem;
    $bg:gray;
    $color:black;
    $border:white;
    $outline:black;
    $font-size:1rem;

    $bg-hover:#0E639C;
    $color-hover:white;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='outline'){$outline:$mean;};    
        @if ($name=='font-size'){$font-size:$mean;};    
    };
    .wd-combo{

        background-color: $bg;
        color: $color;
        border:1px solid $border;
    
        box-sizing: border-box;
        min-height:$size;
        line-height:$size;
        min-width:$size;
        //border-radius: 5px;
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        >*{
            &:nth-child(1) {
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
            }
            &:nth-child(2) {
                min-width: $size;
                width: $size;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAATklEQVR4nO3OMQoAIAwEwXtn/uV7tVFIocRCI8JOHbInAQDwkSrJNu6s3x41nkYjdu+ujLgajyIp8VUsNT4bkR4fiouX7Lgf8SwOADiiAWpFIUWn1ypTAAAAAElFTkSuQmCC'); 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                        
            }
        }
        &:focus { 
            outline: 2px solid $outline;
        }
    
    }
    .wd-combo-list{
        background-color: $bg;
        color:$color;
        border:1px solid $border;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;        
    }
    .wd-combo-item{
        min-height: $size;
        line-height: $size;
        white-space: nowrap;
        overflow: hidden;
        &:hover{
            @if  $theme=='dark' {
                background-color:lighten($bg, 5%);
            } @else {
                background-color:darken($bg, 5%);
            }
        }
    }
}