@use "sass:meta";

@mixin combobox-mixin($args...){
    $theme:'dark';
    $size:2rem;
    $gap:5px;
    $bg:gray;
    $color:black;
    $border:white;
    $outline:#3476BC;
    $font-size:1rem;

    $bg-hover:#0E639C;
    $color-hover:white;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='gap'){$gap:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='outline'){$outline:$mean;};    
        @if ($name=='font-size'){$font-size:$mean;};    
        @if ($name=='bg-hover'){$bg-hover:$mean;};    
        @if ($name=='color-hover'){$color-hover:$mean;};    
    };
    .wd-combo{

        background-color: $bg;
        color: $color;
        border:1px solid $border;
    
        box-sizing: border-box;
        min-height:$size;
        line-height:$size;
        min-width:$size;
        //border-radius: 5px;
        font-size: $font-size;
        white-space: nowrap;
        overflow: hidden;
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        outline: 0px solid rgba(0,0,0,0);
        transition: outline-color 0.4s;

        >*{
            &:nth-child(1) {
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
            }
            &:nth-child(2) {
                min-width: $size;
                width: $size;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAATklEQVR4nO3OMQoAIAwEwXtn/uV7tVFIocRCI8JOHbInAQDwkSrJNu6s3x41nkYjdu+ujLgajyIp8VUsNT4bkR4fiouX7Lgf8SwOADiiAWpFIUWn1ypTAAAAAElFTkSuQmCC'); 
                background-repeat: no-repeat, no-repeat;
                background-position: center;
                        
            }
        }
        &:hover{
            //background-color: $bg-hover;
            //color: $color-hover;

        }
        &:focus { 
            outline: 2px solid $outline;
        }
    
    }
    .wd-combo-list{
        background-color: $bg;
        color:$color;
        border:1px solid $border;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;        
        .wd-combo-item{
            &:hover{
                background-color: $bg-hover;
                color: $color-hover;
            }
            &[disabled]{
                opacity: 0.3;
                &:hover{
                    background-color: $bg;
                    color:$color;
                }                
            }
        }
    }
    .wd-combo-item{
        text-indent: $gap;
        min-height: $size;
        height: $size;
        line-height: $size;
        white-space: nowrap;
        overflow: hidden;

        // for ComboItemIcon
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        >div{
            &:nth-child(1) {
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
            }                
            &:nth-child(2) {
                order: 0;
                flex: 1 1 auto;
                align-self: auto;
            }                
        }

    }
    
}