@use "sass:math";
@import '../vars.scss';
@import '../mixin/combobox-mixin.scss';


@include combobox-mixin($theme:$wd-default-theme);

@each $theme in $wd-themes{
    .#{$theme}{
        @include combobox-mixin(
            $theme:$theme,
            $size:$wd-size, 
            $bg:map-get($wd-deep,#{$theme}),
            $color:map-get($wd-colors,#{$theme}),
            $border:map-get($wd-borders,#{$theme}),
            $hover:map-get($wd-hovers,#{$theme}),
            $color-hover:blendColor($colors:$wd-colors,$theme:$theme,$level:-30%),
            $outline:map-get($wd-outlines,#{$theme}),
        );
    }
}
