@use "sass:math";
@import '../vars.scss';
@import '../mixin/combobox-mixin.scss';


@include combobox-mixin($theme:$wd-default-theme);

@each $theme in $wd-themes{
    .#{$theme}{
        @include combobox-mixin(
            $theme:$theme,
            $size:$wd-size, 
            $bg:map-get($wd-deep,#{$theme}),
            $color:blendColors($colors:$wd-color,$theme:#{$theme},$light:-20%,$dark:20%),
            $border:map-get($wd-border,#{$theme}),
            $hover:map-get($wd-hover,#{$theme}),
            $color-hover:blendColors($colors:$wd-color,$theme:$theme,$level:-30%),
            $outline:map-get($wd-outline,#{$theme}),
            $required:rgba(map-get($wd-alert,#{$theme}),0.1),
            $placeholder:blendColors($colors:$wd-color,$theme:#{$theme},$level:40%),
        );
    }
}
