@use "sass:meta";
@mixin dialog-mixin($args...){
    $theme:'dark';
    $size:2rem;
    $gap:5px;
    $border:gray;
    $bg:silver;
    $color:black;
    $font-size:1rem;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;}; 
        @if ($name=='gap'){$gap:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='font-size'){$font-size:$mean;};    

    }



    .wd-dialog{
        border:1px solid $border;
        border-radius: 3px;
        @if $theme=='dark'{
            background-color:lighten( $bg,5%);
        }@else{
            background-color:darken( $bg,0%);
        }
        color:$color;

        @if $theme=='dark'{
            box-shadow: 0px 0px 5px  black;
        }
    
        position: absolute;
        font-size:$font-size;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        >div{
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
        }

        .wd-dialog-header{
            height: $size;
    
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: center; 
    
            padding-left:$gap;
            padding-right:$gap;
    
            >div{
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
            }
            .wd-dialog-caption{
                font-size: $font-size*1.3;
                font-weight: bold;
                flex: 1 1 auto;
                height: $size;
                line-height: $size;
                
            }
            .wd-dialog-close-btn{
                border-radius: 12px;
                height: $size*0.8;
                width:$size*0.8;
                min-width: $size*0.8;
                line-height: $size*0.8;
                text-align: center;

                &:hover{
                    color:rgb(165, 139, 139);
                }
            }
        }
        .wd-dialog-content{
            padding: $gap;

            flex: 1 1 auto;
            overflow: auto;
            
        }
        .wd-dialog-footer{
            height: $size*1.2;
    
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-content: stretch;
            align-items: center;
    
            margin-left:$gap;
            margin-right:$gap;
    
            input{
                margin-right: $gap;
                min-width: $size*2;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
    .wd-dialog-resize{
        position: absolute;
        width: 0px;
        height: 0px;

        >div{
            position: relative;
            width: $size;
            height: $size;
            left:-$size*0.8;
            top:-$size*0.8;
            cursor: move;

            border-right:2px solid $border;
            border-bottom:2px solid $border;
            &:hover{
                border-right:2px solid $border;
                border-bottom:2px solid $border;
            }
        }
    }

}