@use "sass:meta";
@mixin edit-mixin($args...){
    $theme:'dark';
    $size:2rem;
    $font-size:1rem;
    $bg:white;
    $color:black;
    $outline:#92BCD8;
    $border:#DCDCDC;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;}; 
        @if ($name=='font-size'){$font-size:$mean;};       
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='outline'){$outline:$mean;};    

    }

    outline: none;
    min-height:$size;
    font-size:$font-size;
    border:1px solid $border;
    width:100%;
    background-color: $bg;
    color:$color;

    &:focus { 
        outline: 2px solid $outline;
    }
}

@mixin edit-require($args...){
    $theme:'dark';
    $img:'';
    $border:#DCDCDC;
    $size:1rem;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='img'){$img:$mean;}; 
        @if ($name=='border'){$border:$mean;}; 
        @if ($name=='size'){$size:$mean;};       
    }

    background-image: url($img);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    border:1px solid $border !important;
    background-size: $size;
}