@import '../vars.scss';
@import '../mixin/group-mixin.scss';

@include group-mixin($theme:$wd-default-theme);


@each $name in $wd-themes{
    .#{$name} {
        @include group-mixin(
            $theme:$name,
            $size:$wd-size,
            $bg:map-get($wd-block,$name),
            $color:map-get($wd-color,$name),
            $border:map-get($wd-border,$name),
            $gap:$wd-gap,
            $radius:$wd-radius
        );
    }
}