@import '../vars.scss';
@import '../mixin/label-frame-mixin.scss';


@include label-frame-mixin($theme:$wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include label-frame-mixin(
            $theme:$name,
            $size:$wd-size,
            $gap:$wd-gap,
            $color:map-get($wd-label,$name)
        );
    }
}
