@import '../vars.scss';
@import '../mixin/modal-dialog-mixin.scss';




@include modal-dialog-mixin($theme:$wd-default-theme);


@each $name in $wd-themes{
    .#{$name} {
        @include modal-dialog-mixin(
            $theme:$name,
            $bg:wd-get-theme($wd-block,#{$name}),
            $border:wd-get-theme($wd-border,#{$name}),
            $color:wd-get-theme($wd-color,#{$name}),
            $gap:$wd-gap,

        );
    }
}