@import '../vars.scss';



//$wd-scb-track:$wd-ctrl-bg;       // цвет фона
$wd-scb-track:('light':#e0e0e0,'dark':#2c2c2c) !default;
$wd-scb-thumb:('light':#aaaaaa,'dark':#5f5f5f) !default;   // цвет курсора
$wd-scb-hover:('light':#636363,'dark':#696969) !default;
$wd-scb-w:$wd-size;
$wd-scb-h:$wd-size;
$wd-scb-size-k:0.4;

@mixin wd-scrollbar-theme($name){
    &::-webkit-scrollbar-track{
        //background-color: map-get($wd-scb-track,#{$name});
        background-color: wd-get-theme($wd-scb-track,#{$name});
        border-right:1px solid wd-get-theme($wd-scb-track,#{$name});
        cursor:	pointer;
    }
    
    &::-webkit-scrollbar{
        background-color:wd-get-theme($wd-scb-track,#{$name});
        cursor:	pointer;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color:wd-get-theme($wd-scb-thumb,#{$name});
        border:1px solid wd-get-theme($wd-scb-thumb,#{$name});
        cursor:	pointer;
        
        
    }
    &::-webkit-scrollbar-thumb{
        &:hover{
            background-color:wd-get-theme($wd-scb-hover,#{$name});
            border:1px solid wd-get-theme($wd-scb-hover,#{$name});
            cursor:	pointer;
        }
    }
}
@mixin  wd-scrollbar-theme-size($name) {
    &::-webkit-scrollbar{
        width:  wd-get-size($wd-scb-w,#{$name})*$wd-scb-size-k;
        height: wd-get-size($wd-scb-h,#{$name})*$wd-scb-size-k;
    }
}

@mixin wd-scrollbar-default(){
    @include wd-scrollbar-theme($wd-default-theme);
    @include wd-scrollbar-theme-size($wd-default-theme-size);
}

.wd-scrollbar{
    @include wd-scrollbar-default();
}

@each $name in $wd-themes{
    .#{$name} {
        .wd-scrollbar{
            @include wd-scrollbar-theme($name);
        }
    }
}

@each $name in $wd-sizes{
    .#{$name} {
        .wd-scrollbar{
            @include wd-scrollbar-theme-size($name);
        }
        
    }
}

