@import '../vars.scss';
@import '../mixin/scrollbar-mixin.scss';


@include scrollbar-mixin($theme:$wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include scrollbar-mixin(
            $theme:$name,
            $size:$wd-size*0.4,
            $bg:map-get($wd-transparent,$name),
            $thumb:blendColors($colors:$wd-bg,$theme:$name,$level:-20%),
            $hover:blendColors($colors:$wd-bg,$theme:$name,$level:-25%),
        );
    }
}


