@import '../vars.scss';
@import './ScrollBar.scss';
@import '../mixin/table-fixed-mixin.scss';


@include table-fixed-mixin($theme:$wd-default-theme);

@each $name in $wd-themes{
    .#{$name}{
        @include table-fixed-mixin(
            $theme:$name,
            $bg:map-get($wd-transparent,$name),
            $color:map-get($wd-color,$name),
            $border:map-get($wd-border,$name),
            
            $header:map-get($wd-header,$name),
            $header-color:blendColor($colors:$wd-color,$theme:$name,$level:-20%),
            $header-border:map-get($wd-border,$name),
            $header-sep:map-get($wd-border,$name),

            $outline:map-get($wd-transparent,$name),
            $select:map-get($wd-select,$name),
            $select-color:blendColor($colors:$wd-color,$theme:$name,$light:50%,$dark:20%),
        );
    }
}
