@use "sass:meta";
@mixin table-fixed-mixin($args...){
    $theme:'dark';
    $size:2rem;
    $outline:'none';

    $bg:rgba(156, 67, 67, 0);
    $color:rgb(112, 112, 112);
    $border:rgb(58, 94, 138);
    $sep:'yes';

    $bg-header:rgb(32, 32, 32);
    $color-header:white;
    $border-header:gray;
    $sep-header:'yes';

    $font-size:1rem;
    $gap:5px;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    

        @if ($name=='bg-header'){$bg-header:$mean;};    
        @if ($name=='color-header'){$color-header:$mean;};    
        @if ($name=='border-header'){$border-header:$mean;};    
        @if ($name=='sep-header'){$sep-header:$mean;};    

        @if ($name=='outline'){$outline:$mean;};    
        @if ($name=='font-size'){$font-size:$mean;};    
        @if ($name=='gap'){$gap:$mean;};    
    };
    .wd-table-fixed-horiz{
        @if ($outline != 'none'){
            margin-top:1px;
            outline:1px solid $outline;
        }

        box-sizing: border-box;
        width:100%;
        height: 100%;
        overflow: hidden;

        @include display-flex-vert-stretch();
    }
    .wd-table-fixed-vert{
        flex:1 1 auto;
        background-color: $bg;
        color: $color;
        
        overflow-y: auto;
        overflow-x: hidden;
        &[border*="right"]{
            @if($sep!='none'){
                border-right:1px solid $border;
            }
        }    
        &[border*="bottom"]{
            @if($sep!='none'){
                border-bottom:1px solid $border;
            }
            >div[footer]{
                border-bottom-color:rgba(0,0,0,0);
            }
        }
        &[border*="top"]{
            @if($sep!='none'){
                border-top:1px solid $border;
            }
        }
        &[border*="left"]{
            @if($sep!='none'){
                border-left:1px solid $border;
            }
        }
        >div[footer]{
            @if($sep!='none'){
                border-left:1px solid $border;
                border-right:1px solid $border;
                border-bottom:1px solid $border;
            }
            text-align: center;
            height: $size;
            line-height: $size;
        }
        >div[no-data]{
            height: 100%;
            text-align: center;
            padding-top:$gap ;
        }
    }
    .wd-table-fixed{
        border-collapse: collapse;
        tr{
            min-height: $size;
            height: $size;
        }
        &[header]{  
            background-color: $bg-header;
            color:$color-header;
            
            th{
                border: 1px solid $border-header;
                @if($sep-header=='none'){
                    border-right-color: rgba(0,0,0,0);
                }
                overflow: hidden;
                &:first-child{
                }
                &:last-child{
                    border-right-color: $border-header;
                }

            }
        }
        &[table]{
            td{
                border: 1px solid $border;
                @if($sep == 'none'){
                    border-left-color:rgba(0,0,0,0);
                    border-right-color:rgba(0,0,0,0);
                }
                padding-left: $gap;
            }
            tr{
                &[selected]{
                    background-color: blue;
                    color: white;
                }
                &:first-child{
                    td{
                        border-top: 0px;
                    }    
                }
                td{
                    &:first-child{
                    }
                    &:last-child{
                    }
                }
            }

        }
    }
}
/* Ex: header style (set sep and sep-header as none)
.wd-table-fixed[header]th{
    border:1px solid rgba(0,0,0,0) !important;
    border-bottom: 1px solid red !important;
}
*/
