@import '../vars.scss';
@import './ScrollBar.scss';

$wd-tf-bg:('light':rgba(0,0,0,0),'dark':rgba(0,0,0,0)) !default;
$wd-tf-bg2:('light':#ECECEC,'dark':#292929) !default;

$wd-tf-color:$wd-ctrl-color !default;
$wd-tf-border:$wd-ctrl-border !default;

$wd-tf-hover-bg:('light':#DCDCDC,'dark':#2e2e2e) !default;
$wd-tf-hover-color:('light':#000000,'dark':#ffffff) !default;


$wd-tf-head-bg:('light':#E2E2E2,'dark':#1A1B19) !default;
$wd-tf-head-color:('light':#020202,'dark':#8f8f8f) !default;
$wd-tf-head-border:$wd-tab-border !default;
$wd-tf-head-height:$wd-size !default;


$wd-tf-row-height:$wd-size !default;
$wd-tf-row-border-bottom:('light':#FDFDFD,'dark':#3a3a3a) !default;
$wd-tf-row-border-vert:('light':#DCDCDC,'dark':#282924) !default;

//$wd-tf-row-active-bg:('light':#0D6EFD,'dark':#0E639C) !default;
//$wd-tf-row-active-color:('light':#ffffff,'dark':#ffffff) !default;
$wd-tf-row-active-bg:$wd-ctrl-bg-select !default;
$wd-tf-row-active-color:$wd-ctrl-color-select !default;


@mixin wd-table-fixed-frame-theme($theme){

    background-color: wd-get-theme($wd-tf-bg,$theme);
    color: wd-get-theme($wd-tf-color,$theme);
    border:1px solid wd-get-theme($wd-tf-border,$theme);
    
    .wd-table-fixed-head{

        background-color: wd-get-theme($wd-tf-head-bg,$theme);
        color: wd-get-theme($wd-tf-head-color,$theme);
    
        .wd-table-fixed-head-row{
            .wd-table-fixed-head-col{
                border:1px solid rgba(0, 0, 0, 0);
                border-bottom:1px solid wd-get-theme($wd-tf-head-border,$theme);  
                overflow: hidden;   
            }
        }
    }

    .wd-table-fixed-frame-rows{
        
        @include wd-scrollbar-theme($theme);

        .wd-table-fixed-rows{
            .wd-table-fixed-row{
                &:nth-child(2n){
                    background-color:wd-get-theme($wd-tf-bg2,#{$theme});
                }
                &:hover{
                    background-color:wd-get-theme($wd-tf-hover-bg,#{$theme});
                    color:wd-get-theme($wd-tf-hover-color,#{$theme});
                    text-shadow: 0 0 0.7px black;
                }                
                &:active{
                    background-color:wd-get-theme($wd-tf-row-active-bg,#{$theme});
                    color:wd-get-theme($wd-tf-row-active-color,#{$theme});
                }                
                .wd-table-fixed-col{
                    border:1px solid rgba(0, 0, 0,0);
                    border-bottom:1px solid wd-get-theme($wd-tf-row-border-bottom,$theme); 
                    border-right:1px solid wd-get-theme($wd-tf-row-border-vert,$theme); 
                    &:last-child{
                        //border-right:1px solid rgba(0, 0, 0, 0); 
                    }
                    padding-left:5px;
                    padding-right:5px;
                }
            }
            .wd-table-fixed-row-selected{
                background-color:wd-get-theme($wd-tf-row-active-bg,#{$theme}) !important;
                color:wd-get-theme($wd-tf-row-active-color,#{$theme}) !important;
                //border-color: 1px solid map-get($wd-tab-row-active-bg,#{$theme});
            }

        }        
    }

    .wd-table-fixed-caption{
        background-color: wd-get-theme($wd-tf-head-bg,$theme);
        color: wd-get-theme($wd-tf-head-color,$theme);
        border-bottom:1px solid wd-get-theme($wd-tf-head-border,$theme);  
    }

    .wd-table-fixed-bottom{

    }
    .wd-table-fixed-nodata{
    }

}

@mixin wd-table-fixed-frame-theme-size($name){
    $size:  wd-get-size($wd-size,#{$name});  
    $gap:wd-get-size($wd-gap,$name);
    font-size:  wd-get-size($wd-font-size,#{$name});  
    //width: 200px;
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    .wd-table-fixed-head{
        border-collapse: collapse;
        .wd-table-fixed-head-row{
            height:wd-get-size($wd-tf-head-height,$name); 
            .wd-table-fixed-head-col{
            }
        }
    }
    .wd-table-fixed-frame-rows{
        width:100%;

        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        overflow-y: auto;
        overflow-x: hidden;
        @include wd-scrollbar-theme-size($name);        
        .wd-table-fixed-rows{
            border-collapse: collapse;
            width: 100%;
            .wd-table-fixed-row{
                height:wd-get-size($wd-tf-row-height,$name); 
                .wd-table-fixed-col{
                    padding-left:$gap;
                    padding-right:$gap;
                }
            }

        }
    }
    .wd-table-fixed-caption{
        width:100%;    
        height:wd-get-size($wd-tf-head-height,$name); 
        line-height:wd-get-size($wd-tf-head-height,$name);
        padding-left: $gap;
         
    }
    
    .wd-table-fixed-bottom{
        text-align: center;
        height:$size;
        line-height: $size;
    }
    .wd-table-fixed-nodata{
        text-align: center;
        height:$size;
        line-height: $size;
        width:100%;
    }

}

.wd-table-fixed-frame{
    @include wd-table-fixed-frame-theme($wd-default-theme);
    @include wd-table-fixed-frame-theme-size($wd-default-theme-size);
}


@each $theme in $wd-themes{
    .#{$theme}{
        .wd-table-fixed-frame{
            @include wd-table-fixed-frame-theme($theme);
        }
    }
}

@each $name in $wd-sizes{
    .#{$name}{
        .wd-table-fixed-frame{
            @include wd-table-fixed-frame-theme-size($name);
        }
    }
}