@import '../vars.scss';
@import './ScrollBar.scss';

$wd-tab-bg:$wd-ctrl-bg !default;
$wd-tab-bg2:('light':#ECECEC,'dark':#292929) !default;
$wd-tab-color:$wd-ctrl-color !default;
$wd-tab-border:('light':#DCDCDC,'dark':#3D3E38) !default;

$wd-tab-hover-bg:('light':#DCDCDC,'dark':#2e2e2e) !default;
$wd-tab-hover-color:('light':#000000,'dark':#ffffff) !default;


$wd-tab-head-bg:('light':#E2E2E2,'dark':#1A1B19) !default;
$wd-tab-head-color:('light':#020202,'dark':#8f8f8f) !default;
$wd-tab-head-border:$wd-tab-border !default;
$wd-tab-head-border-vert:('light':#bdbdbd,'dark':#00000000) !default;
$wd-tab-head-border-vert-fat:('light':0px,'dark':0px) !default;

$wd-tab-row-height:$wd-size !default;
$wd-tab-row-border-bottom:('light':#FDFDFD,'dark':#3a3a3a48) !default;
$wd-tab-row-border-vert:('light':#DCDCDC,'dark':#3a3a3a) !default;

$wd-tab-row-active-bg:$wd-ctrl-bg-select !default;
$wd-tab-row-active-color:$wd-ctrl-color-select !default;

@mixin wd-table-container-theme($theme){
        color:map-get($wd-tab-color,#{$theme});
        @include wd-scrollbar-theme($theme); 
        .wd-table{
            width: 100%;
            border:1px solid map-get($wd-tab-border,#{$theme});
            
            thead{
                tr{
                    background-color:map-get($wd-tab-head-bg,#{$theme});
                    color:map-get($wd-tab-head-color,#{$theme});
                    border:1px solid map-get($wd-tab-head-border,#{$theme});
                    
                }
                th{
                    border-left:map-get($wd-tab-head-border-vert-fat,#{$theme}) solid map-get($wd-tab-head-border-vert,#{$theme});
                    &:nth-child(1){
                        border-left:1px solid map-get($wd-tab-head-border,#{$theme});
                    }
                }
            }
            tbody{
                tr{
                    border-bottom:1px solid map-get($wd-tab-row-border-bottom,#{$theme});
                    
                    td{
                        border-left:1px solid  map-get($wd-tab-row-border-vert,#{$theme});;
                        padding-left:5px;
                        &:nth-child(1){
                            border-left:1px solid map-get($wd-tab-border,#{$theme});
                        }
                    }

                    &:nth-child(2n){
                        background-color:map-get($wd-tab-bg2,#{$theme});
                    }
                    &:last-child{
                        border-bottom:1px solid map-get($wd-tab-border,#{$theme});
                        
                    }
                    &:hover{
                        background-color:map-get($wd-tab-hover-bg,#{$theme});
                        color:map-get($wd-tab-hover-color,#{$theme});
                        text-shadow: 0 0 0.7px black;
                    }
                    &:active{
                        background-color:map-get($wd-tab-row-active-bg,#{$theme}) !important;
                        color:map-get($wd-tab-row-active-color,#{$theme}) !important;
                            
                    }
                }
                .wd-row-selected{
                    background-color:map-get($wd-tab-row-active-bg,#{$theme}) !important;
                    color:map-get($wd-tab-row-active-color,#{$theme}) !important;
                    border-color: 1px solid map-get($wd-tab-row-active-bg,#{$theme});
                }

            }
        }
}

@mixin wd-table-container-theme-size($name){

    $size:map-get($wd-size,#{$name});
    width:100%;
    overflow: auto;
    font-size:  map-get($wd-font-size,#{$name});
    @include wd-scrollbar-theme-size($name);
    thead{
        tr{
            min-height: map-get($wd-tab-row-height,#{$name})*1.5;
            height: map-get($wd-tab-row-height,#{$name})*1.5;
        }
    }
    tbody{
        tr{
            height:map-get($wd-tab-row-height,#{$name});
            td{
                padding-left: map-get($wd-gap,#{$name})*1.5;
            }
        }
    }

}

.wd-table-container{
    @include wd-table-container-theme($wd-default-theme);
    @include wd-table-container-theme-size($wd-default-theme-size);
}



//$min-width:100px;
@each $theme in $wd-themes{
    .#{$theme}{
        .wd-table-container{
            @include wd-table-container-theme($theme);
        }
    }
}

@each $name in $wd-sizes{
    .#{$name}{
        .wd-table-container{
            @include wd-table-container-theme-size($name);
        }
    }
}