@import '../vars.scss';
@import '../mixin/text-mixin.scss';


@include text-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include text-mixin(
            $theme:$name,
            $bg:map-get($wd-bgs,#{$name}),
            $color:map-get($wd-colors,#{$name}),
            $border:map-get($wd-borders,#{$name}),
            $outline:map-get($wd-outlines,#{$name}),
            $font-size:$wd-size,
            //$required:map-get($wd-colorrequire,#{$name}),
            //$required-url:$wd-ctrl-bg-img-require,    
        );
    }
}

