@import '../vars.scss';
@import '../mixin/text-mixin.scss';


@include text-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include text-mixin(
            $theme:$name,
            $bg:map-get($wd-deep,#{$name}),
            $color:map-get($wd-color,#{$name}),
            $border:map-get($wd-border,#{$name}),
            $outline:map-get($wd-outline,#{$name}),
            $font-size:$wd-font-size,
            $required:rgba(map-get($wd-alert,#{$name}),0.1),
            //$required-url:$wd-require-img,    
        );
    }
}

