@import '../vars.scss';
@import '../mixin/text-mixin.scss';


@include text-mixin($wd-default-theme);

@each $name in $wd-themes{
    .#{$name} {
        @include text-mixin(
            $theme:$name,
            $bg:map-get($wd-ctrl-bg,#{$name}),
            $color:map-get($wd-ctrl-color,#{$name}),
            $border:map-get($wd-ctrl-border,#{$name}),
            $outline:map-get($wd-ctrl-border-focus,#{$name}),
            $font-size:map-get($wd-font-size,#{$name}),
            $required:map-get($wd-ctrl-color-require,#{$name}),
            $required-url:$wd-ctrl-bg-img-require,    
        );
    }
}

