//@import '../../styles/define.scss';
@import '../../style/default.vars.scss';


select,option{
    //font-size:8pt;
}


@each $name in $wd-themes{
    .#{$name}{
        .wd-combobox-frame{
        
        .wd-combobox{ 
            display: block; 
            @include transparent-border();
            background-color: map-get($wd-cb-bg,#{$name});
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAATklEQVR4nO3OMQoAIAwEwXtn/uV7tVFIocRCI8JOHbInAQDwkSrJNu6s3x41nkYjdu+ujLgajyIp8VUsNT4bkR4fiouX7Lgf8SwOADiiAWpFIUWn1ypTAAAAAElFTkSuQmCC'); 
            background-repeat: no-repeat, repeat;
            
                &::-ms-expand { 
                    display: none; 
                } 
                &:hover { 
                    background-color: map-get($wd-cb-bg-hover,#{$name}); 
                } 
                &:focus { 
                    //border-color: #aaa; 
                    //box-shadow: 0 0 0px 1px rgba(59, 153, 252, .7);
                    //box-shadow: 0 0 0 1px -moz-mac-focusring; 
                    outline: none; 
                    border: 1px solid map-get($wd-edit-border-focus,#{$name});
                } 
                option { 
                    font-weight:normal; 
                } 
            } 
             
             //*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
            //background-position: left .7em top 50%, 0 0; 
            //padding: .6em .8em .5em 1.4em; 
            //}
        }
    }
}
@each $name in $wd-sizes{
    $size:map-get($wd-size,#{$name});
    
    .#{$name}{
        .wd-combobox-frame{
            min-width: $size*5;
            height: $size;
            
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;            

        .wd-combobox{ 
            box-sizing: border-box; 
            height: $size;

            flex: 1 1 auto;

            padding-left:5px;
            margin: 0; 
            
            border-radius: .3em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-position: right .7em top 50%, 0 0;
            background-size: $size; 
            
                &::-ms-expand { 
                    display: none; 
                } 
                &:hover { 
                    //background: linear-gradient(0deg,rgb(248, 248, 248), transparent);
                    //border:1px solid rgba(0,0,0,0);
                    //border-bottom:1px solid rgb(0, 0, 0);
                    //background-color: rgb(240, 240, 240); 
                } 
                &:focus { 
                    //border-color: #aaa; 
                    //color: #222;
                    outline: none; 
                } 
                option { 
                    font-weight:normal; 
                } 
            } 
             
             //*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
            //background-position: left .7em top 50%, 0 0; 
            //padding: .6em .8em .5em 1.4em; 
            //}
        }
    }
}