
h1{
    font-size:1.6rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.8rem;
}

h6{
    font-size: 0.7rem;
}


h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 1px var(--v2-wd-color-high);
    font-weight: normal;
    color:var(--v2-wd-color-high);
}
