.mg{
    margin:var(--v2-wd-gap);
}

.mg0{
    margin:0;
}

.mgl{
    margin-left:var(--v2-wd-gap);
}

.mgr{
    margin-right:var(--v2-wd-gap);
}

.mglr{
    margin-left:var(--v2-wd-gap);
    margin-right:var(--v2-wd-gap);
}

.mgt{
    margin-top:var(--v2-wd-gap);
}

.mgb{
    margin-bottom:var(--v2-wd-gap);
}

.mgtb{
    margin-top:var(--v2-wd-gap);
    margin-bottom:var(--v2-wd-gap);
}
