[mg],.mg{
    margin:var(--v2-wd-gap);
}

[mg0],.mg0{
    margin:0px;
}

[mgl],.mgl{
    margin-left:var(--v2-wd-gap);
}

[mgr],.mgr{
    margin-right:var(--v2-wd-gap);
}

[mglr],.mglr{
    margin-left:var(--v2-wd-gap);
    margin-right:var(--v2-wd-gap);
}

[mgt],.mgt{
    margin-top:var(--v2-wd-gap);
}

[mgb],.mgb{
    margin-bottom:var(--v2-wd-gap);
}

[mgtb],.mgtb{
    margin-top:var(--v2-wd-gap);
    margin-bottom:var(--v2-wd-gap);
}
