.pd{
    padding:var(--v2-wd-gap);
}

.pd0{
    padding:var(--v2-wd-gap);
}

.pdl{
    padding-left:var(--v2-wd-gap);
}

.pdr{
    padding-right:var(--v2-wd-gap);
}

.pdlr{
    padding-left:var(--v2-wd-gap);
    padding-right:var(--v2-wd-gap);
}

.pdt{
    padding-top:var(--v2-wd-gap);
}

.pdb{
    padding-bottom:var(--v2-wd-gap);
}

.pdtb{
    padding-top:var(--v2-wd-gap);
    padding-bottom:var(--v2-wd-gap);
}
