@use "sass:meta";
@mixin btn-mixin($args...){
    $class:'wd-btn';
    $themes:('light','dark');
    $size:28px;
    $bg:#f5f5f5;  
    $color:rgb(70, 70, 70);
    $border:#d5d5da;
    $outline:#9dcff0;
    $font-size:1rem;
    $margin:2px;
    $radius:0.25rem;

    @each $name, $mean in meta.keywords($args) {
        
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;};    
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='outline'){$outline:$mean;};    
        @if ($name=='font-size'){$font-size:$mean;};
        @if ($name=='margin'){$margin:$mean;};    
        @if ($name=='radius'){$radius:$mean;};    
        
    };
    .#{$class}{
        height:$size;
        cursor: pointer;
        background-color: $bg;
        color: $color;
        border:1px solid $border;
        outline: 'none';
    
        box-sizing: border-box;
        min-width:$size;
        border-radius: $radius;
        //box-shadow:  1px 1px 1px 0px rgb(0 0 0 / 15%);
        font-size: $font-size;

        
        
        @if($margin!='none'){
            margin-right:$margin;
        };
        
        outline: 2px solid rgba(0,0,0,0);
        @include transition(outline-color 0.2s);
        &:focus { 
            outline: 2px solid $outline;
        }
    
    }
    @each $theme in $themes{
        :root.#{$theme} .#{$class}{
            &:hover{
                background-color:blendColors($colors:$wd-bg,$theme:$theme,$level:-5%);
                color:blendColors($colors:$wd-color,$theme:$theme,$level:-20%);
            }
        }   
    }
}