@use "sass:meta";

input[type=number]{
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: inner-spin-button !important;
        min-width: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}

@mixin edit-mixin($args...){
    $theme:'light';
    $size:2rem;
    $font-size:1rem;
    $bg:white;
    $color:black;
    $outline:#9dcff0;
    $border:#DCDCDC;
    $gap:5px;
    $required:rgba(255, 0, 0, 0.144);
    $required-url:'';
    $margin:2px;
    $radius:0.25rem;
    $placeholder:silver;
    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;}; 
        @if ($name=='font-size'){$font-size:$mean;};       
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='color'){$color:$mean;};    
        @if ($name=='border'){$border:$mean;};    
        @if ($name=='outline'){$outline:$mean;};    
        @if ($name=='gap'){$gap:$mean;};
        @if ($name=='required'){$required:$mean;}; 
        @if ($name=='required-url'){$required-url:$mean;}; 
        @if ($name=='margin'){$margin:$mean;};
        @if ($name=='radius'){$radius:$mean;};
        @if ($name=='placeholder'){$placeholder:$mean;};
    }

    .wd-edit{
        height:$size;
        
        font-size:$font-size;
        border:1px solid $border;
        border-radius: $radius;
        width:100%;
        background-color: $bg;
        text-indent:$gap;

        @if($margin!='none'){
            margin-right:$margin;
        };
        color:$color;

        outline: 0px solid rgba(0,0,0,0);
        @include transition(margin 0.2s,outline-color 0.4s);
        &:focus { 
            outline: 2px solid $outline;
        }

        &[readonly]{
        }        
        &[disabled]{
            opacity: 0.5;
        }
        &[required]{
            //background-image: url($required-url);
            //background-repeat: no-repeat;
            //background-position-x: right;
            //background-position-y: center;
            //border:1px solid $required !important;
            //background-size: $size*0.5;
            background-color:$required !important;
            border:1px solid $required !important;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $placeholder;
        }
          
    }   
}