@use "sass:meta";

@mixin scrollbar-mixin($args...){
    $theme:'light';
    $size:1rem;
    $bg:white;// цвет фона
    $thumb:#D5D5DA;// цвет курсора
    $hover:rgb(107, 107, 107);// цвет курсора при hover
    $border:#DCDCDC;

    @each $name, $mean in meta.keywords($args) {
        @if ($name=='theme'){$theme:$mean;};    
        @if ($name=='size'){$size:$mean;}; 
        @if ($name=='bg'){$bg:$mean;};    
        @if ($name=='thumb'){$thumb:$mean;};    
        @if ($name=='hover'){$hover:$mean;};    
        @if ($name=='border'){$border:$mean;};    
    }
    
    .wd-scrollbar{
        
        &::-webkit-scrollbar-track{
            background-color: $bg;
            border-right:1px solid $bg;
        }
        
        &::-webkit-scrollbar{
            background-color:$bg;
            width: $size;
            height: $size;
        }
        
        &::-webkit-scrollbar-thumb{
            background-color:$thumb;
            border:1px solid $thumb;
            
            //border-radius: 24px;
            //border-radius: 24px;
            
        }
        &::-webkit-scrollbar-thumb{
            &:hover{
                
                background-color:$hover;
                border:1px solid $hover;
            }
        }
        
    }
}